[2014-10-29 22:39] rwcarlsen opened #1031 "access time step phase from context"
A method on the context that agents, other code can call to get which phase of the context we are currently on.  See discussion here: https://groups.google.com/d/msg/cyclus-dev/reywWwbuAHE/n213-DmBHhcJ

[2014-10-29 22:45] rwcarlsen opened #1032 "Finish and add snaptest init/snapshot/restart vetter to core repo"
I've been working on a vetting/debugging tool for archetypes.  It reports errors related to init+snapshot+restart.  Current progress in my snaptest branch: https://github.com/rwcarlsen/cyclus/tree/snaptest

[2014-10-29 22:49] rwcarlsen opened #1033 "Add simple buy/sell policies to toolkit"
They currently live here: https://github.com/cyclus/kitlus.  I've been working on some updates to generalize them (https://github.com/rwcarlsen/kitlus/tree/general) for a wider range of use cases.  They will hopefully be featurefull enough to replace nearly all DRE-related code in cycamore with no more than a handful of lines.

[2014-10-29 22:52] rwcarlsen opened #1034 "support for less-than constraints over request portfolios"
Currently, only greater-than constraints are supported over request portfolios.  Mutual requests functionality is helpful, but not general enough for some situations.

[2014-10-29 23:01] rwcarlsen opened #1035 "put gtest in cyclus-specific location"
currently, we install our gtest header and lib files into `[prefix]/include` and `[prefix]/lib` directly.  These install locations collide with distributions' gtest packages :(   We should either use distribution gtest dependency or move our gtest into cyclus subdirs.

[2014-10-29 23:02] #609 closed, assigned to nobody

[2014-10-29 23:22] #909 closed, assigned to nobody

[2014-10-29 23:22] #857 closed, assigned to nobody

[2014-10-30 01:18] #967 closed, assigned to nobody

[2014-10-30 21:29] #951 closed, assigned to nobody

[2014-11-27 04:16] rwcarlsen opened #1049 "decay is completely dysfunctional"
Not sure when it happened.  But the decayer computes `-NaN` as the new decayed quantity of every nuclide in every composition I've tried.  I think we (and that doesn't mean everybody wait till robert does it :) should at least take a look to see if we can find the issue before we release 1.2.  No baby for us yet, but almost for sure before the end of the week - so probability is very low for me to

[2014-12-16 18:28] gidden opened #1055 "smbchk.py is required to be run from the release dir"
e.g.
[code]

[2014-12-16 18:33] gidden opened #1056 "smbchk.py appears to do nothing without a flag"
Is no option valid? What is happening if that's the case (no output occurs)? Should we default to `--check`?

[2014-12-16 18:54] gidden opened #1057 "smbchk.py throws a nonintuitive error message when a symbchk.json is not found"
e.g.,

[code]

[2014-12-18 02:50] rwcarlsen opened #1058 "update time-related constants in Material and Composition classes"
Material::Decay and decay-related code in Composition class both do month-related calcs.  These will need to be updated when the CEP 23 implementation goes in.

[2015-01-18 23:58] scopatz opened #1069 "Material::comp() const removal causes ABI instability."
``const`` should be added back in.  Needed before v1.3. Nominally for @rwcarlsen

see 25b90b46d91b4bdb0b86d49bc2c9b8fcdbfab0a6

[2015-01-19 20:14] scopatz opened #1075 "Swap Semantics of U and V node sets"
Currently in the our exchange graphs we label requesters as U and  suppliers as V.  This means that arcs flow from `U <- V`.  However when there is directionality in bipartite graphs, it is much more common to flow from `U -> V`.  To be consistent we should switch suppliers to be U and requesters to be V.  @gidden has graciously offered to clean this up. Thanks!

[2015-01-19 20:17] gidden commented on #1075
Just to clarify, @scopatz, this is not blocking 1.3, correct? I will try to
get to it before 1.3, but I don't want to promise (thesis defending and
all).

On Mon, Jan 19, 2015 at 2:14 PM, Anthony Scopatz <notifications@github.com>
wrote:

--
Matthew Gidden
Ph.D. Candidate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-01-23 16:36] scopatz opened #1077 "Code generation for map state vars fails due to keyfmt and valfmt"
needs to be fixed ASAP.

[2015-01-23 23:18] scopatz commented on #1075
Blocking assessments are done by the release manager and all issues are initially tagged under the milestone that they are opened in. If I were to be release manager, I would not call this a blocking issue :)

[2015-01-29 17:15] gidden commented on #1055
closing based on previous conversation

[2015-01-29 17:15] #1055 closed

[2015-02-03 17:55] scopatz commented on #1077
closed by #1078

[2015-02-03 17:55] #1077 closed

[2015-02-12 15:43] rwcarlsen opened #1081 "document LT/GT behavior of capacity constraints in DRE"
I can never remember whether capacity constraints are LT, GT or what for requests and bids (@gidden can you remind me again? - thanks).  Docs for this should probably go in one or more of these places:

* doc comments of capacity_constraint.h
* doc comments of bid_portfolio
* doc comments of request_portfolio

And also should get a mention on the DRE page in archetype dev guide.

[2015-02-12 15:47] gidden commented on #1081
Demand/request is GT (you must meet my demand), Supply is LT (I only have
so much supply). Note that demand constraints are "soft" -- if there's not
enough resource in the system, we won't generate it for you. Assign me the
issue and I'll tackle it soon^TM.

On Thu, Feb 12, 2015 at 9:43 AM, Robert Carlsen <notifications@github.com>
wrote:

--
Matthew Gidden
Ph.D. Candidate, Nuclear Engineering
The

[2015-02-12 15:52] rwcarlsen commented on #1081
Since demand is GT, does that mean a requester might get more than they asked for?

[2015-02-12 15:57] gidden commented on #1081
On Thu, Feb 12, 2015 at 9:52 AM, Robert Carlsen <notifications@github.com>
wrote:

They might if they have conflicting constraints (e.g., mass and fissile
quantity). I will review that when I tackle this issue as well.

—

--
Matthew Gidden
Ph.D. Candidate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-02-12 15:57] gidden commented on #1081
Also, note that I have a branch with both constraints implemented that will
likely be pulled in during my post-thesis cleanup.

On Thu, Feb 12, 2015 at 9:56 AM, Matthew Gidden <gidden@wisc.edu> wrote:

--
Matthew Gidden
Ph.D. Candidate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-02-12 16:04] rwcarlsen commented on #1081
Sounds great - thanks @gidden.

[2015-02-13 17:33] rwcarlsen commented on #645
sqlite has a built-in in-memory backend functionality accessible by just passing `:memory:` as the db file path.  I think this is good enough.

[2015-02-13 17:35] scopatz commented on #645
I am reopening because HDF5's in-memory capabilities have not been hooked up yet.

[2015-02-13 17:51] rwcarlsen commented on #645
The original issue was so we could test that things that weren't the db writing worked - e.g. check that archetypes and resource exchange were operating properly.  The original reasons for the issue have been more than addressed.  If there are any needs that are explicitly require hdf5 memory db support, could you please describe them?

[2015-02-13 17:52] rwcarlsen commented on #645
Specifically, we wanted to be able to run small, mock simulations to test things out - this is completely addressed by generalized backend querying in addition to all the mock simulation stuff we just merged in.

[2015-02-13 17:54] scopatz commented on #645
We still do not have a way for users to specify that they want the backends to be in-memory when they run a simulation.  This interface should be applicable to any backend (assuming the backend supports it).

[2015-02-13 18:00] rwcarlsen commented on #645
When would they need in-memory databases for something other than testing?  For testing, sqlite more than serves needs.  Most hdf5's benefits for cyclus are not helpful for in-memory.  Sqlite in-mem is at least as fast and hdf5's, and large dataset handling is not so important if it has to fit in memory anyway.  All present use-case based needs have been addressed.  If there aren't any specific ne

[2015-02-13 18:04] scopatz commented on #645
I can see a use case where people just want to compute a value in situ, report it to the screen, and then move on.  This is most helpful in optimization.  There is no reason to not give this feature to users.  Unfortunately, I am all tied up for the moment. I don't see the harm in letting this sit open until it becomes someone's need.

[2015-02-13 18:06] rwcarlsen commented on #645
Why isn't that purpose served by sqlite in-memory?

[2015-02-13 18:09] scopatz commented on #645
User's should have the choice of what backend they use.

[2015-02-17 18:33] #1069 closed

[2015-02-18 21:12] mbmcgarry opened #1087 "FeedQty does not handle non-fissile material"
Cyclus::toolkit::FeedQty assumes that input material is only comprised of U235, U238.  It needs to account for the presence of potential non-fissile material, which would require more material to be returned than in the standard case.

[2015-02-19 19:35] mbmcgarry opened #1088 "mock_sim_tests fail on Mac"
This seg fault is appearing on Mac builds but not Linux.  From cyclus_unit_tests:

[ FAILED ] MaterialTest.DecayShortcut (22 ms)
[ RUN ] MaterialTest.ExtractPrevDecay
[ OK ] MaterialTest.ExtractPrevDecay (20 ms)
[ RUN ] MaterialTest.TransmutePrevDecay
[ OK ] MaterialTest.TransmutePrevDecay (21 ms)
[ RUN ] MaterialTest.AbsorbPrevDecay
[ OK ] MaterialTest.AbsorbPrevDecay (20 ms)
[----------] 23 test

[2015-02-19 19:47] rwcarlsen commented on #1088
can you run with gdb (with cyclus compiled with debug flags) and paste in a
backtrace?

On Thu, Feb 19, 2015 at 1:35 PM, mbmcgarry <notifications@github.com> wrote:

[2015-02-19 19:51] mbmcgarry opened #1089 "Decay shortcut test failure on Mac OSX Yosemite"
Another Yosemite-special error.
[code]

[2015-02-19 20:11] mbmcgarry commented on #1088
Here are there results from running gdb w/debugging:

[code]

[2015-02-20 06:06] rwcarlsen commented on #1088
Is that with cyclus compiled with debug symbols?

[2015-02-21 00:05] deniadjokic commented on #1088
Just joined this thread because I'm having the same issue! I'd be really grateful if we could get this resolved ASAP so I can use Cyclus and Cymetric for the FCO transition analysis effort! Let me know how I can help. Thanks!!

[2015-02-23 18:45] rwcarlsen commented on #1088
Denia - Is your backtrace (with debug symbols compiled) - just as cryptic (i.e. no line numbers?).  Also, Both Meghan and Denia, does compiling from my `mockres` branch fix the failure by any chance?

[2015-02-23 21:53] deniadjokic commented on #1088
Hi Robert,

Haven't tried mockres yet, will try that next.
I ran lldb (on my Mac) and here's what I get:
Looks like something with any.hpp?

Thanks!
Denia

[code]

[2015-02-23 22:08] deniadjokic commented on #1088
Okay, I rebuilt Cyclus using your mockres branch and ran lldb. Still get the same backtrace:

[code]

[2015-02-23 22:19] gidden commented on #1088
This somehow looks like its a QueryResult deallocation issue?

On Mon, Feb 23, 2015 at 4:08 PM, Denia Djokic <notifications@github.com>
wrote:

--
Matthew Gidden
Ph.D. Candidate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-02-23 22:27] rwcarlsen commented on #1088
I updated mockres branch with a potential fix - could you try again?

On Mon, Feb 23, 2015 at 4:19 PM, Matthew Gidden <notifications@github.com>
wrote:

[2015-02-23 23:07] deniadjokic commented on #1088
Looks like that worked! Thank you!!!! (There are still 10 tests that do fail--are they known issues?)

[code]

[2015-02-23 23:09] gidden commented on #1088
9/10 of those are known issues

On Mon, Feb 23, 2015 at 5:07 PM, Denia Djokic <notifications@github.com>
wrote:

--
Matthew Gidden
Ph.D. Candidate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-02-24 16:52] mbmcgarry commented on #1088
I can also confirm that the seg fault is fixed on @rwcarlsen’s mockres branch, leaving only the 9 known HDF5 failed tests and the new MaterialTest failure (for which a separate issue has been opened).

Thanks for the fix, @rwcarlsen!

-Meghan

***************************************************************
Meghan McGarry, PhD ~ http://mbmcgarry.github.io/ <http://mbmcgarry.github.io/>
Postdoctoral

[2015-02-24 17:28] rwcarlsen commented on #1089
Can @deniadjokic @mbmcgarry try my dbg-decay branch - and paste in results of that here?  It doesn't have the segfault fix - so you will need to `cyclus_unit_test --gtest_filter=Material*`

[2015-02-24 18:18] mbmcgarry commented on #1089
No failed tests, it looks like this works now too!

Nice debugging, @rwcarlsen.

[==========] Running 25 tests from 2 test cases.
[----------] Global test environment set-up.
[----------] 2 tests from MaterialMatQueryTest
[ RUN      ] MaterialMatQueryTest.ExtractCompleteInexactComp
[       OK ] MaterialMatQueryTest.ExtractCompleteInexactComp (0 ms)
[ RUN      ] MaterialMatQueryTest.ExtractDiffComp

[2015-02-24 18:25] rwcarlsen commented on #1089
I'm not going to PR this until other PRs get in.  Too much rebasing.

[2015-02-24 18:26] gidden commented on #1089
Can't we cherry-pick the two commits fixing issues on yosemite?

On Tue, Feb 24, 2015 at 12:25 PM, Robert Carlsen <notifications@github.com>
wrote:

--
Matthew Gidden
Ph.D. Candidate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-02-24 18:28] rwcarlsen commented on #1089
If debugging others' problems just gets me lots more rebasing work for my own problems... seems like a perverse incentive.  And - collateral ;-)

[2015-02-24 19:48] deniadjokic commented on #1089
All tests passed for me too. Thank you, @rwcarlsen !

[2015-02-24 21:49] #1088 closed

[2015-02-24 22:07] scopatz commented on #1089
closed by #1091

[2015-02-24 22:07] #1089 closed

[2015-02-24 22:10] scopatz commented on #1089
Woohoo!

[2015-03-06 21:56] rwcarlsen opened #1097 "cycpp needs support for recursive container types."
Currently, the SchemaFilter is written to assume that all elements of a container type are one of our primitive types.  This assumption is violated for things like `vector<vector<double> >`, `map<string, vector<double> >`, etc.  This would be helpful for the separations facility among other things (which needs to be done soon).  And the sqlite backend now can easily support more container nesting

[2015-03-06 21:59] rwcarlsen commented on #1097
@scopatz - if you can find a bit of time for this, I might be able to squeeze a bit of time to start making more progress separations.

[2015-03-06 23:12] scopatz commented on #1097
@rwcarlsen - I likely won't be able to find any time for this in the next week+.  Also, I don't believe that I am the original author of this class.  Refactoring this should to be recursive not be terribly difficult.  There is already a template for how to do this in the InfileToDb class.

[2015-03-21 18:04] gidden opened #1107 "Add developer docs for #1106"
Likely to come from my thesis and related publications.

[2015-03-21 18:06] gidden commented on #1107
blocks #1106

[2015-04-02 14:21] gidden commented on #1097
can this be closed @rwcarlsen ?

[2015-04-02 14:30] gidden opened #1112 "cycpp needs test update"
#1110 has exposed the fact that there is not a good way to test the inclusion of a new key in cycpp. I think there are two ways forward, one easy, one less easy:

- add translation of `cycpp_tests.h` as an integration test, to which new keys can be added and expected output can be updated
- update `cycpp_tests.py`'s `MockCodeGenMachine` to be more amenable to helping with unit tests

I claim the s

[2015-04-02 14:48] rwcarlsen commented on #1097
Yep.

[2015-04-02 14:52] gidden commented on #1097
closed with #1098

[2015-04-02 14:52] #1097 closed

[2015-04-02 21:23] gidden commented on #981
I just saw these on Ubuntu, but only once, and I can't reproduce =/

[2015-04-06 23:10] scopatz opened #1117 "Migrate to travis"
Steps:

1. Turn off moth site
2. copy `.travis.yml` file to root dir
3. modify travis file to build from the ciclus repo, rather than pyne-ci
4. modify travis file to run cyclus tests in the script section
5. modify the ciclus meta.yml files to use the travis selectors, similar to those in pyne-ci
6. open to see if it works
7. remove the site from moth.

read the travis and conda docs for more inf

[2015-04-14 22:09] gidden opened #1125 "create a resource buff that enables reasonable storage support"
Creating an actual StorageFacility has proven difficult in the wild because tracking storage times of resources in a performant way is difficult. This could likely be alleviated by developing a buffer subclass specifically for this purpose. Of course, it should keep track of entry times of resources, but also should

* only pop available resources in Pop methods
* allow querying of available resou

[2015-04-14 22:09] gidden commented on #1125
@rwcarlsen will likely have some ideas since he has the most experience with our current buffers

[2015-04-15 15:11] vcloitre opened #1126 "ERROR(core ):query result has no such field outcommod"
After downloading the latest version of Cycamore, I got an error when I tried to run a simulation with Cyclus (see https://gist.github.com/1e974df08c6b2a2323df.git).
The reason why I got this error was because the output file was the default one (cyclus.sqlite) : it was already existing before the simulation and was created with a previous version of Cycamore. As a consequence, it was querying out

[2015-04-21 19:02] gidden commented on #1117
Current PRs testing with an updated ciclus:
- https://github.com/gidden/cyclus/pull/16
- https://github.com/gidden/cycamore/pull/7

[2015-04-21 19:26] gidden commented on #1117
@scopatz, are travis selectors incompatible with polyphemus? See [this](http://submit-1.batlab.org/nmi-runs/cyclusci/2015/04/cyclusci_submit-1.batlab.org_1429624072_6164/userdir/nmi:x86_64_MacOSX8/remote_pre_declare.err) failure for #1127.

[2015-04-21 20:36] scopatz commented on #1117
No, they shouldn't be.  On BaTLab that expression evaluates to `False`. I suspect that there is something else that is broken.  For instance, why is the install trying to find 0.2 rather than the latest version (0.0):

[code]
http://submit-1.batlab.org/nmi-runs/cyclusci/2015/04/cyclusci_submit-1.batlab.org_1429624072_6164/userdir/nmi:x86_64_Ubuntu12/remote_pre_declare.err

[2015-04-22 13:34] gidden commented on #1117
The mac run on 1127 is still failing this morning with the same error:
[code]

[2015-04-22 13:34] gidden commented on #1117
(http://submit-1.batlab.org/nmi/results/details?runID=315884)

[2015-04-22 14:02] gidden commented on #1117
On the travis front, it looks like we're close. There's currently a linking error with hdf5 during test execution:
[code]

See [here](https://travis-ci.org/gidden/cyclus/jobs/59552497) for instance.

This looks to be a conda/hdf problem. I set the `LD_LIBRARY_PATH` to the conda lib directory, but that does not fix it. Any ideas?

[2015-04-22 17:30] scopatz commented on #1117
1. Why are we worrying about mac CI? I thought we were abandoning it.
2. This is the linking problem that has been discussed on the list (https://groups.google.com/d/topic/cyclus-users/G-9xbOgPeU4/discussion).  I believe that this is caused by our CMake building finding the system libraries if they are installed, rather than the conda ones.  This could be fixed in the conda recipe but the correct

[2015-04-22 17:39] gidden commented on #1117
The build system is finding the correct [hdf5](https://travis-ci.org/gidden/cyclus/jobs/59579041#L378). The problem is that the install prefix during the conda build is `miniconda/envs/build_` not `miniconda`.

[2015-04-22 17:45] scopatz commented on #1117
That is how conda works.  It then adjusts the paths in the libraries on install.

[2015-04-22 17:51] scopatz commented on #1117
Try throwing in an `ldd $(which cyclus_unit_tests_base)` after install to see what is being linked.

[2015-04-22 19:44] gidden commented on #1117
Note, there is hdf5 on the system ([6.0.3](https://travis-ci.org/gidden/cyclus/jobs/59607662#L2023)), but we are not picking it up

[2015-04-22 19:46] gidden commented on #1117
I also used the `HDF5_ROOT` CMake variable. The include directory is [correct](https://travis-ci.org/gidden/cyclus/jobs/59607662#L379).

[2015-04-24 16:18] gidden commented on #1087
@mbmcgarry, can this be closed?

[2015-04-24 16:22] gidden commented on #1075
moving to 1.4

[2015-04-24 16:24] gidden commented on #1058
@rwcarlsen, can you give an update on this issue?

[2015-04-24 16:25] gidden commented on #1056
moving to 1.4

[2015-04-24 16:25] gidden commented on #1049
@rwcarlsen/@scopatz, can you give an update on this issue?

[2015-04-24 16:25] gidden commented on #1035
@rwcarlsen, can you give an update on this issue?

[2015-04-24 16:26] gidden commented on #1034
move to 1.4, should be closed soon

[2015-04-24 16:26] gidden commented on #1033
now blocked on #1127

[2015-04-24 16:26] gidden commented on #1032
@rwcarlsen, can you give an update on this issue?

[2015-04-24 16:26] gidden commented on #1031
@rwcarlsen, can you give an update on this issue?

[2015-04-24 16:27] gidden commented on #1030
@rwcarlsen, can you give an update on this issue?

[2015-04-24 16:27] gidden commented on #1027
moved to 1.4

[2015-04-24 16:27] gidden commented on #1017
@rwcarlsen, can you give an update on this issue?

[2015-04-24 16:28] gidden commented on #997
closing this, it needs more justification

[2015-04-24 16:28] #997 closed

[2015-04-24 16:29] gidden commented on #996
moved to 1.4

[2015-04-24 16:30] gidden commented on #992
moved to 1.4

[2015-04-24 16:30] gidden commented on #989
moved to 1.4

[2015-04-24 16:31] gidden commented on #988
moved to 1.4

[2015-04-24 16:32] gidden commented on #982
moved to 1.4, hopefully will be closeable in 1.4

[2015-04-24 16:32] gidden commented on #981
closing this as we are implementing sql support for macs

[2015-04-24 16:32] gidden commented on #965
@scopatz, can you give an update on this issue?

[2015-04-24 16:32] gidden commented on #927
and on to 1.4

[2015-04-24 16:33] gidden commented on #867
moved to 1.4

[2015-04-24 16:33] gidden commented on #834
moved to 1.4

[2015-04-24 16:33] gidden commented on #777
@opotowsky, can you give an update on this issue?

[2015-04-24 16:34] gidden commented on #761
@rwcarlsen/@scopatz, can you give an update on this issue?

[2015-04-24 16:34] gidden commented on #760
I assume still no unit tests, @scopatz?

[2015-04-24 16:34] gidden commented on #674
@opotowsky , can you give an update on this issue?

[2015-04-24 16:34] gidden commented on #663
moved to 1.4

[2015-04-24 16:35] gidden commented on #663
actually, I'm just going to close this since we have a separations facility now. it can be reopened at a later date if necessary.

[2015-04-24 16:35] #663 closed

[2015-04-24 16:37] gidden commented on #645
moved to 1.4

[2015-04-24 16:37] gidden commented on #633
@rwcarlsen, can you give an update on this issue?

[2015-04-24 16:37] gidden commented on #604
moved to 1.4

[2015-04-24 16:38] scopatz commented on #981
This is for HDF5 unit tests on macs, so this should remain open until they are actually fixed.

[2015-04-24 16:38] gidden commented on #603
@rwcarlsen / @yarden-livnat, can you give an update on this issue?

[2015-04-24 16:38] gidden commented on #583
moved to 1.4

[2015-04-24 16:38] gidden commented on #496
moved to 1.4

[2015-04-24 16:38] gidden commented on #495
moved to 1.4

[2015-04-24 16:39] gidden commented on #485
moved to 1.4

[2015-04-24 16:39] gidden commented on #473
moved to 1.4

[2015-04-24 16:39] scopatz commented on #760
This is not my responsibility.

[2015-04-24 16:39] gidden commented on #19
moved to 1.4. @vcloitre should probably be aware of this issue.

[2015-04-24 16:42] opotowsky commented on #777
I think all my issues are 32-bit related, so they might should be ignored.

On Fri, Apr 24, 2015 at 11:33 AM, Matthew Gidden <notifications@github.com>
wrote:

--
Arrielle Opotowsky ~ Engineering Physics ~ University of Wisconsin-Madison
Computational Nuclear Engineering Research Group ~
http://cnerg.engr.wisc.edu
Nuclear Forensics Graduate Research Fellow
National Science Foundation Graduate Rese

[2015-04-24 16:43] scopatz commented on #965
This remains a problem with upstream boost to the best of my knowledge.

[2015-04-24 16:44] opotowsky commented on #674
This one is DEFINITELY 32 bit-specific

On Fri, Apr 24, 2015 at 11:34 AM, Matthew Gidden <notifications@github.com>
wrote:

--
Arrielle Opotowsky ~ Engineering Physics ~ University of Wisconsin-Madison
Computational Nuclear Engineering Research Group ~
http://cnerg.engr.wisc.edu
Nuclear Forensics Graduate Research Fellow
National Science Foundation Graduate Research Fellow

[2015-04-24 17:12] #1087 closed

[2015-04-24 17:12] mbmcgarry commented on #1087
Yep, didn’t even realize that was still open!

On Apr 24, 2015, at 11:18 AM, Matthew Gidden <notifications@github.com<mailto:notifications@github.com>> wrote:

@mbmcgarry<https://github.com/mbmcgarry>, can this be closed?

—
Reply to this email directly or view it on GitHub<https://github.com/cyclus/cyclus/issues/1087#issuecomment-95982755>.

[2015-04-24 18:22] gidden commented on #1117
closed by #1130

[2015-04-24 18:22] #1117 closed

[2015-04-24 19:02] rwcarlsen commented on #760
We do have a simple decay test now that checks we hook into pyne decay
correctly and get a reasonable result.  Since we use pyne decay wholesale,
I think we can call this issue resolved.

On Fri, Apr 24, 2015 at 10:39 AM, Anthony Scopatz <notifications@github.com>
wrote:

[2015-04-24 19:10] rwcarlsen commented on #761
the short is that nothing will happen for 1.3.  Also, the level of bugness of this is arguable - there are many other higher priority things IMO.

[2015-04-24 19:15] rwcarlsen commented on #603
I think that this is the responsibility of cymetric, cyclist, and other
data analysis tools.  I would vote for moving this issue into cymetric and
closing it here.

On Fri, Apr 24, 2015 at 10:38 AM, Matthew Gidden <notifications@github.com>
wrote:

[2015-04-24 19:16] rwcarlsen commented on #633
Not done yet.

On Fri, Apr 24, 2015 at 10:37 AM, Matthew Gidden <notifications@github.com>
wrote:

[2015-04-24 19:16] rwcarlsen commented on #633
move to 1.4

On Fri, Apr 24, 2015 at 1:16 PM, Robert Carlsen <rwcarlsen@gmail.com> wrote:

[2015-04-24 19:17] rwcarlsen commented on #663
Agreed.  We can work in 1.4 perhaps to move the separations facility's
function(s) into the toolkit.

On Fri, Apr 24, 2015 at 10:35 AM, Matthew Gidden <notifications@github.com>
wrote:

[2015-04-24 19:18] rwcarlsen opened #1134 "Remove LMatrix and UniformTaylor classes"
We use pyne decay now.

[2015-04-24 19:19] rwcarlsen commented on #583
closing in favor of #1134

[2015-04-24 19:19] #583 closed

[2015-04-24 19:52] scopatz commented on #1134
This cannot happen until v2.0.

[2015-04-24 19:53] rwcarlsen commented on #1017
Some of the new recursion related work introduced some alias related tests.  I think we can close this for now.

[2015-04-24 21:10] rwcarlsen commented on #1030
This will be much easier and will probably need to wait until c++11 support
is implemented. Move to 1.4.

On Fri, Apr 24, 2015 at 10:27 AM, Matthew Gidden <notifications@github.com>
wrote:

[2015-04-24 21:10] rwcarlsen commented on #1031
No progress yet.

On Fri, Apr 24, 2015 at 10:26 AM, Matthew Gidden <notifications@github.com>
wrote:

[2015-04-24 21:13] rwcarlsen commented on #1032
Too low on priority list.  Shelved for the time being, but I still have my
branch with the tool.  It should still work, but I think there was pushback
from others for various reasons that deterred me from continuing the effort.

On Fri, Apr 24, 2015 at 10:26 AM, Matthew Gidden <notifications@github.com>
wrote:

[2015-04-24 21:13] rwcarlsen commented on #1035
no progress yet.

On Fri, Apr 24, 2015 at 10:25 AM, Matthew Gidden <notifications@github.com>
wrote:

[2015-04-24 21:13] rwcarlsen commented on #1049
fixed.

On Fri, Apr 24, 2015 at 10:25 AM, Matthew Gidden <notifications@github.com>
wrote:

[2015-04-24 21:14] #1049 closed

[2015-04-24 21:14] rwcarlsen commented on #1058
this is blocked on implementing cep23.

[2015-04-25 14:23] gidden commented on #1058
to 1.4

[2015-04-25 14:23] gidden commented on #1035
to 1.4

[2015-04-25 14:23] gidden commented on #1033
done

[2015-04-25 14:23] #1033 closed

[2015-04-25 14:24] gidden commented on #1032
to 1.4

[2015-04-25 14:24] gidden commented on #1032
can you link the discussion with push back? i don't remember it..

[2015-04-25 14:24] gidden commented on #1031
to 1.4

[2015-04-25 14:25] gidden commented on #1030
to 1.4

[2015-04-25 14:25] #1017 closed

[2015-04-25 14:28] gidden commented on #981
moving to 1.4, @mbmcgarry, can you comment as to whether you see these failures, please?

[2015-04-25 14:28] gidden commented on #965
to 1.4

[2015-04-25 14:29] gidden commented on #777
to 1.4

[2015-04-25 14:29] gidden commented on #761
to 1.4

[2015-04-25 14:31] #760 closed

[2015-04-25 14:31] gidden commented on #674
to 1.4

[2015-04-25 14:34] gidden commented on #674
actually, I will close based on our previous discussion

[2015-04-25 14:36] gidden commented on #777
I will actually close this for the same reason as #674

[2015-04-25 14:37] gidden commented on #674
reopen if you would like to @opotowsky

[2015-04-25 14:37] gidden commented on #777
reopen if you would like to @opotowsky

[2015-04-25 15:14] gidden commented on #603
opening cymetric/#54

[2015-04-25 15:14] #603 closed

[2015-04-25 17:27] scopatz commented on #674
If the problem still exist, then the issue shouldn't be closed.  I am not clear which previous discussion you are referring to.

[2015-04-25 17:27] scopatz commented on #777
Reopened for same reason as #674

[2015-04-25 17:29] opotowsky commented on #674
I thought it was established that 32 bit wouldn't be supported?

On Sat, Apr 25, 2015 at 12:27 PM, Anthony Scopatz <notifications@github.com>
wrote:

--
Arrielle Opotowsky ~ Engineering Physics ~ University of Wisconsin-Madison
Computational Nuclear Engineering Research Group ~
http://cnerg.engr.wisc.edu
Nuclear Forensics Graduate Research Fellow
National Science Foundation Graduate Research Fello

[2015-04-25 17:33] scopatz commented on #674
I don't recall that. I remember talking about it. Can you point me to some documentation to that effect?

[2015-04-25 17:38] opotowsky commented on #674
Ah, this was the conversation I was thinking of:
https://groups.google.com/d/msg/cyclus-dev/eTXUSZLiaq8/-FB4QbAI5DoJ

My memory on the topic was poor - I did not realize there was the intention
to support 32 bit. We can work through the issues on my laptop after the
semester is over (if it survives that long - there is a pending
debilitating hardware failure)

On Sat, Apr 25, 2015 at 12:33 PM, Ant

[2015-04-28 15:42] gidden commented on #19
for future posterity, the bare version of this repository now lives on `/groupspace/cnerg/svn/genius` and can be checked out using

[code]

replacing `<CAE_USERNAME>` with your own

[2015-04-30 15:09] mbmcgarry commented on #981
Yes, I still see errors with HDF5 in some of the the unit tests.

[  FAILED  ] 9 tests, listed below:
[  FAILED  ] Hdf5BackTests.ReadWriteVLMapVLStringDouble
[  FAILED  ] Hdf5BackTests.ReadWriteVLMapStringVLString
[  FAILED  ] Hdf5BackTests.ReadWriteVLMapVLStringString
[  FAILED  ] Hdf5BackTests.ReadWriteMapVLStringVLString
[  FAILED  ] Hdf5BackTests.ReadWriteVLMapVLStringVLString
[  FAILED  ] Hdf

[2015-05-04 22:02] gidden opened #1147 "mock resource exchange"
mocking up a resource exchange would help with testing complicated agent-exchange scenarios. combining it with a mock database instance will be critical to confirm expected output.

[2015-05-15 20:55] gidden opened #1167 "Cycpp requires entire variable declaration on one line"
so you can't have
[code]

[2015-05-15 21:26] scopatz commented on #1167
Just put in a trailing backslash.

[2015-05-15 21:29] gidden commented on #1167
That is an extra requirement that is not needed in non-pragma/non-macro
code. A member declaration is neither of those. It should either be
documented or fixed.

On Fri, May 15, 2015 at 4:26 PM, Anthony Scopatz <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-05-15 21:31] scopatz commented on #1167
Sure, I was just telling you what a quick fix is.

[2015-05-15 21:39] scopatz commented on #1167
For which is would nice to be acknowledged occasionally...

[2015-05-15 22:30] gidden commented on #1167
Thank you for explaining the quick fix.

On Fri, May 15, 2015 at 4:39 PM, Anthony Scopatz <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-05-15 22:36] gidden commented on #1167
Ok, the quick fix did not actually work.

On Fri, May 15, 2015 at 5:30 PM, Matthew Gidden <gidden@wisc.edu> wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-05-26 17:15] gidden opened #1172 "add "deprecated" key to cycpp"
deprecated input should be optional in the input schema and raise a warning if it is set in `infiletodb`

[2015-05-26 18:30] rwcarlsen commented on #1172
Cool idea!

On Tue, May 26, 2015 at 12:15 PM, Matthew Gidden <notifications@github.com>
wrote:

[2015-06-01 17:18] jlittell opened #1175 "Optionally track material 'losses'"
In some simulations, the enrichment/fuel fabrication facilities have a given efficiency or percent of material lost during the enrichment/fabrication process. The change in mass of material needed due to these inefficiencies can be easily hand calculated in some cases, but it would be useful to include that functionality within the simulation itself. This would give the enrichment facility, for ex

[2015-06-01 17:55] rwcarlsen commented on #1175
In the discussion, I mentioned the idea of a losses archetype that could be attached to the in/out commodity of any facility to simulate losses.  If we take this approach, then this would become a cycamore-specific issue.

[2015-06-01 23:50] gidden opened #1176 "some tests fail on conda install"
specifically the discovery-related tests and mocksim tests. this is because the install path is configured in a `.cc` file which is compiled on the building machine, yet the installation involves a copy to the client.

[2015-06-02 00:26] gidden opened #1177 "conda does not install cmake currently"
not at all sure why, but installing cyclus from conda does not result in a cmake executable in $CONDA/bin

[2015-06-02 00:51] gidden commented on #1177
note that this blocks any sort of `cyclus-deps`-type conda builds

[2015-06-02 02:59] rwcarlsen commented on #1177
The regular conda packages don't need to and shouldn't install CMake - it is only needed for config/compile - which binary installations don't need.  For the cyclus-deps type package, however, CMake will need to be installed - it probably should just be included as a conda dependency of the cyclus-deps package.

[2015-06-02 03:25] gidden commented on #1177
It's included as a dependency of both packages, but it should probably be
included as a run-time dependency in the deps pacakge.

On Mon, Jun 1, 2015 at 9:59 PM, Robert Carlsen <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-02 04:27] rwcarlsen commented on #1177
You are quite right sir Matt.  Good disambiguation.

On Mon, Jun 1, 2015 at 9:25 PM, Matthew Gidden <notifications@github.com>
wrote:

[2015-06-02 14:27] gonuke commented on #1177
Do we know that the conda install of the cyclus-deps is still a productive path?  I remember seeing that some people had struggles with this more recently?

[2015-06-02 14:29] gidden commented on #1177
The path was decided to be unproductive on batlab. It is not clear if
quicker iteration and testing would be productive here.

On Tue, Jun 2, 2015 at 9:27 AM, Paul Wilson <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-02 14:33] gonuke commented on #1177
got it!

[2015-06-02 21:03] gidden commented on #1177
closed with cyclus/release#72

[2015-06-02 21:03] #1177 closed

[2015-06-03 14:37] mbmcgarry opened #1179 "prettyprint fails on Mac"
PR #1116  to implement prettyprint for testing recursive containers fails on Mac. It can be circumvented by commenting out the call to the prettyprint.hpp on line 13 of agents/prey.h

[code]

[2015-06-05 10:34] scopatz opened #1181 "Test failures on master (v1.3) in Release mode"
The stability tests fail on the current master with many removed symbols when building in release mode, but not when building in debug mode.  I tested this a few times with clean builds.  The errors are as follows:

[code]

[2015-06-05 10:36] scopatz commented on #1181
Note that this was on Ubuntu 15.04 using gcc.

[2015-06-05 14:57] gidden commented on #1181
The symbols were likely generated in debug mode. Perhaps we should add that
to the release process notes (generate symbols in release mode).

On Fri, Jun 5, 2015 at 5:36 AM, Anthony Scopatz <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-22 19:55] gidden opened #1185 "XMLFileLoaderTests tests are no-ops"
They currently employ a pattern of testing a snippet, e.g., only the `control` block. The tests are then implemented by calling `EXPECT_NO_THROW` on a `XMLFileLoader`. Unfortunately, this is no longer valid -- you must also call `LoadSim()`, which does the actual validation. The entire suite should probably be refactored to have building blocks for each input section that are replaced by the secti

[2015-06-22 19:56] gidden opened #1186 "flat and non-flat schema solver blocks are out of sync"
One wraps everything in a `config` block while the other does not. This is related to #1185, because the config block was being "tested".

[2015-06-22 21:36] gidden commented on #1185
adding a critical label because this is the only way we can currently test (in a unit test manner) that snippets of xml result in the right behavior.

This issue can be closed when tests for snippets are added that
a) call the `LoadSim()` function and
b) query the simulation `Context` for the correct configuration

[2015-06-22 22:16] gidden opened #1187 "xml-based solver selection is broken"
currently, solvers are searched for in the query ``/solver/config``, which does not take into account the top-level simulation tag. I am currently working on a branch in which I have fixed this issue, but if someone needs it before I'm done, they're welcome to tackle it..

[2015-07-02 14:33] gidden opened #1189 "api test fails on header-only functions"
If a function is defined in a header, e.g.,
[code]

and its use in implementation files is removed, the api checker will report an symbol difference. While this difference is technically true, the *API* has not changed.

[2015-07-06 15:31] #1035 closed

[2015-07-07 17:04] gonuke opened #1190 "Add support for recording archetype versions"
The primary output database should have a way (new table? new column?) to record the version of every archetype used in the simulation.

* a required function that returns a version string
* guidance in the form of CMake files, etc, in Cycstub to automatically populate this with the SHA from the repo

[2015-07-10 15:02] gidden opened #1194 "exchange context should restrict access to members after being populated by the ResourceExchange"
At present, users of the context can update values which would result in unexpected behavior.

However, making this change will cause API differences as the underlying datastructures are no longer available. To date, only kernel code uses this struct, so perhaps the absolute ban can be lifted in this case...

[2015-07-10 16:48] gidden opened #1195 "update cycpp to allow default values to be defined constants"
e.g. in the ``FuelFab``, the following lines
[code]

result in the following error
[code]

This may be difficult, as I'm not sure the current infrastructure supports this type of operation.

[2015-07-10 17:10] rwcarlsen commented on #1195
All pragma annotations need to be correct python syntax.  So the way you've written it can't work.  But we could come up with some sort of flag to treat a default string text as literal code.

[2015-07-10 17:18] gidden commented on #1195
Yup, I agree that some additional work will be required to support this.

On Fri, Jul 10, 2015 at 12:10 PM, Robert Carlsen <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-07-10 17:22] gidden opened #1196 "Make 0-valued arc removal quiet"
Upon releasing the next minor release (1.4), the relevant [lines](https://github.com/cyclus/cyclus/blob/develop/src/exchange_translator.h#L81) should be updated from
[code]
to
[code]

[2015-07-14 17:07] gidden opened #1198 "update dbtypes list after dbtypes PRs are resolved"
Added so far

- [x] #1197

[2015-07-29 15:04] gidden opened #1199 "Remove Third-Party Header File Leakage"
Identified during our Summer '15 hackathon, we can greatly reduce compile time (of Cyclus and archetypes through cycpp benefits) by only including third-party header files in implementation files. Furthermore, once these headers are no longer leaked, archetype devs' CMake includes will *only* require a find_package call for Cyclus (and whatever other libraries they depend upon), greatly simplifyin

[2015-08-25 15:21] gidden opened #1204 "multiple institutions with same name fails quietly"
Consider the following case:

- two regions named R_A and R_B
- R_A has a DeployInst named Inst
- R_B has a NullInst named Inst
- each institution has initial facilities
- the DeployInst deploys facilities at some frequency

If both institutions have the same name, no deployment will occur.

My guess is that the nullinst prototype is overwriting the deployinst in the context's protos_ mapping.

[2015-08-25 15:27] rwcarlsen commented on #1204
The actual behavior is that one prototype overwrites another with the same name - last one wins.  This behavior is intentional - allowing the prototype for a particular name/identifier be changed/modified.  However, I can see accidental prototype name duplication occuring.  I think we can safely assume that nobody intends to have duplicate prototype names come from a single input file though.  So

[2015-08-25 20:47] rwcarlsen opened #1206 "remove experimental warning from resbuf"

[2015-08-25 20:49] #1204 closed

[2015-08-25 20:54] rwcarlsen commented on #1190
Fixed by #1192.

[2015-08-25 20:54] #1190 closed

[2015-08-25 20:57] rwcarlsen commented on #1147
Fixed by #1076 - right @gidden? Or did you mean something else...

[2015-08-25 20:59] rwcarlsen commented on #1126
We should add to the error message such a suggestion - good idea.

[2015-08-25 21:01] gidden commented on #1147
The original issue was to mock up the underlying resource exchange. #1076
is one level of abstraction up from that, but likely sufficient for what
was meant here. I'm happy with closing.

On Tue, Aug 25, 2015 at 3:57 PM, Robert Carlsen <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-08-25 21:02] rwcarlsen commented on #1027
I'm closing this as it seems to be more appropriately implemented in cycamore.  Reactors can adjust preferences for each batch requested according to how important that batch is to them.  I'll likely be creating issues/mods to cycamore in the near future as this is all related to my dissertation a bit.

[2015-08-25 21:02] #1027 closed

[2015-08-26 15:25] rwcarlsen commented on #1147
If anybody plans on doing this nearish term, they can reopen.

[2015-08-26 15:25] #1147 closed

[2015-10-13 17:52] rwcarlsen opened #1209 "Multiple traders of a single manager/agent clobber each other"
This bug was introduced in #1207.  In the DRE stage where traders are iterated over, our custom sorting order doesn't allow for multiple traders to come from a single agent/manager; they instead overwrite each other resulting in bad outcomes.

[2015-10-13 17:55] gidden commented on #1209
@jlittell, this is the issue that is causing you PR to fail unexpectedly.
When it's fixed, you should be good to go.

On Tue, Oct 13, 2015 at 12:52 PM, Robert Carlsen <notifications@github.com>
wrote:

[2015-10-13 18:50] rwcarlsen opened #1210 "Segfaults when using BuyPolicy with no expliciti composition"
The buy policy currently uses a NULL composition ptr when no other is specified, resulting in segfaults and other problems when bidders/traders try to query the composition's properties.

[2015-10-15 16:26] #1209 closed

[2015-10-15 16:26] #1210 closed

[2015-10-19 20:32] #1206 closed

[2015-10-27 18:15] rwcarlsen opened #1213 "switch to c++11"
newest versions of libxml++ require c++ 11 - i.e. our build will be broken without the ``-std=c++11`` flag.

[2015-10-27 18:23] gidden commented on #1213
There's a PR in the hopper for this:
https://github.com/cyclus/cyclus/pull/1118

On Tue, Oct 27, 2015 at 7:15 PM, Robert Carlsen <notifications@github.com>
wrote:

[2015-10-27 18:29] rwcarlsen commented on #1213
Looks like pyne could use a few explicit casts - it won't compile under c++11:

[code]

[2015-10-30 19:54] Baaaaam commented on #981
I find a way to have all test successful...
it is a bit messy right now... but I try to make it as simple as possible...

[2015-11-17 16:55] rwcarlsen commented on #1199
#1199 updates cyclus for all but hdf5.

[2015-11-17 17:15] rwcarlsen commented on #495
Closing - we don't use lmatrix for anything now.

[2015-11-17 17:15] #495 closed

[2015-11-17 20:15] rwcarlsen commented on #1198
@gidden - was there anything specific that remains unresolved with this issue?

[2015-11-17 20:20] rwcarlsen commented on #1134
I personally disagree.  Just because C++ gives us very weak mechanisms for controlling API surface doesn't mean that we everything reachable if users include arbitrary headers has to be officially part of our API backwards compatibility promise.  Not only is this code probably not being used by anybody (I give it 1e-6 chance), but if anybody does use it, it is completely untested and very well may

[2015-11-17 20:35] rwcarlsen commented on #1126
This stems from change in archetype-specific state schema changes in the database.  Probably the best way to address this would be to check if any archetypes pre-existing in the db have different versions than the archetypes currently being loaded.  If there are differences, warn the user that archetype db schemas may be incompatible.  This should be possible now that we have a mechanism for repor

[2015-11-17 20:46] #1058 closed, assigned to nobody

[2015-11-18 14:21] gidden commented on #1198
I *think* we're good

On Tue, Nov 17, 2015 at 9:15 PM, Robert Carlsen <notifications@github.com>
wrote:

[2015-11-20 17:26] rwcarlsen commented on #1213
fixed by #1216.

[2015-11-20 17:26] #1213 closed

[2015-11-20 17:27] rwcarlsen commented on #1199
Just cycamore to go.  HDF5 will have to wait at least until we can see if hdf5 headers can be removed from pyne.h.

[2015-11-20 17:28] rwcarlsen commented on #1187
fixed by #1193

[2015-11-20 17:28] #1187 closed

[2015-11-20 17:29] rwcarlsen commented on #1186
fixed by #1193.

[2015-11-20 17:29] #1186 closed

[2015-12-16 21:28] scopatz opened #1223 "Store inventories at run time"
see https://groups.google.com/d/topic/cyclus-dev/RxiOb3jUSbM/discussion

[2015-12-16 22:10] Baaaaam opened #1224 "The addition C macro in a InitFrom method break the #pragma remplacement when building"
I just built my own reactor...
I tried to add some macro on it:

#pragma cyclus impl initfromcopy cybam::cybamReactor

and then I end up with:

this error is due to a bad generation of the `/buid/cybam/cybanreactor.cc` file:
the     ` cybamReactor::InitFrom(cybamReactor* m)`
contain only:

where it should have been:

BaM

[2015-12-16 22:12] rwcarlsen commented on #1223
I would recommend a new canonical kernel table of the following schema: ``Time, AgentId, NucId, Quantity``.  Reasoning to do this includes:

* Allows the data to be stored in a standard way that analysis tools/workflows can use without requiring special knowledge of the db backends and without binding directly to libcyclus.

* Cyclist can use/benefit from this table.  Otherwise, either binding to

[2015-12-16 22:50] scopatz commented on #1223
For n nuclides, the `Time, AgentId, NucId, Quantity`  strategy is at least 28*(n-1) bytes larger than the `map<int, double>` method because of the SimId (20 b), Time (4 b), and AgentId (4 b) being unnecessarily repeated. This is excessive for even 100s of nuclides, let alone 1000s. I believe that the type system is there to be used.

[2015-12-16 22:56] scopatz commented on #1223
So back of the envelope: 28 b/nuc * 100 nuclide * 100 facilities * 1200 time steps / (1024*1024) is 320 Mb that is duplicated information.  Go up to 300 nuclides and you basically have an extra gig just in metadata.

[2015-12-16 23:28] rwcarlsen commented on #1223
The AgendId  must be stored even for the map<int,double> only method.  So
that is 24 b wasted vs 12 b required as opposed to 0 b wasted and 12 b
required.  The space penalty for the schema I suggested is a constant
multiple on the size that would be required.  So 3 GB table my schema
becomes 1 GB table your method.  The penalty is always really close to 3X -
regardless of how many facilities/nucli

[2015-12-16 23:54] scopatz commented on #1223
I think that there is a misunderstanding. For a single agent, for a single time, the method I am championing takes 1 row which happens to be size 28 (SimId, Time, AgentId) + 12*n (Nuc + Value).

Your proposed method takes n rows, each of which is sized 40. This yeilds a total size of 40*n.

The difference in size is thus (40 - 12)*n - 28 = 28(n-1).  This is significant as it could easily mean the

[2015-12-17 00:49] rwcarlsen commented on #1223
I don't think I misunderstand.  For a single agent, single time:

* scopatz schema: 12*n
* rwcarlsen schema: (12+20+4+4)*n

12n vs 40n ==> rwcarlsen/scopatz == 40/12 ~= 3X as large.

Since it is easy enough to implement both, I'd vote for a separate toggle
to turn each on/off so users can have one, the other, both, or none.

On Wed, Dec 16, 2015 at 6:03 PM, Anthony Scopatz <notifications@github.co

[2015-12-17 01:35] scopatz commented on #1223
Works for me.

[2016-02-10 17:56] #1223 closed

[2016-02-19 16:41] rwcarlsen commented on #1181
Could we just regen in release mode now moving forward and call this resolved? - maybe make a note in CEP3 about it.

[2016-02-19 16:42] rwcarlsen commented on #1134
ping - everyone?

[2016-02-19 17:11] rwcarlsen opened #1232 "HDF5 unit test failures with gcc 5.x and clang 3.7"
Here is a link to the failures: https://gist.github.com/rwcarlsen/3c35df49b8db6a7de0b5

Everything compiles fine, but the failures occur consistently at runtime.  They are observable on Arch, Ubuntu, and Mac with the newer versions of both gcc and clang.  Not sure if it's HDF5's problem or a problem with the way we are using HDF5.  They are deterministic and occur every time.  Integration tests th

[2016-02-19 20:07] mbmcgarry commented on #1134
I am not familiar with the Remove LMatrix and UniformTaylor classes in particular.  But I would generally agree with @rwcarlsen that if we believe this code is 1) not useful, 2) untested, and 3) not demanded then I support removing it.  An intermediate option might be to place a warning in the classes for now saying that they are not maintained and will be deleted in the next release. Then at leas

[2016-02-19 21:24] scopatz commented on #1134
My comment is that same as before.  I think we can remove the implementations, but we should maintain the class names, member function names, etc. to maintain ABI and API compatibility until v2.0

[2016-02-19 21:25] scopatz commented on #1134
That is, its fine if the implementations all throw errors.

[2016-02-19 23:18] scopatz commented on #1181
I am for that.

[2016-02-22 16:45] rwcarlsen commented on #1232
@scopatz - let me know as soon as you can if you think there might be a quick fix or not.  If not, we might want to consider moving this to 1.5 and publishing it as a known bug.

[2016-02-22 16:47] rwcarlsen commented on #1134
I'd be okay with something similar to what @scopatz suggests or @mbmcgarry where we change to throw and then remove after a while.  In any case - lets move this to 1.5.

[2016-02-22 16:48] rwcarlsen commented on #1176
Have the conda recipe updates merged in recently taken care of this? (esp. @scopatz as our conda expert).

[2016-02-23 04:00] scopatz commented on #1232
Yup, I'll look at it this week.

[2016-02-23 05:07] scopatz commented on #1176
I believe that they have. Feel free to close

[2016-02-23 05:12] scopatz commented on #1232
PS your gist @rwcarlsen still does not work.

[2016-02-23 05:22] scopatz commented on #1232
Which, I suppose, you could call a linker error :)

[2016-02-23 05:33] scopatz commented on #1232
My linker errors seem to be related to boost, coin, and xml++ but *not* HDF5

[code]

[2016-02-23 05:34] scopatz commented on #1232
Also, there a ton of compiler warnings (on Ubuntu 15.10 with GCC 5.2). These should probably be cleaned up.

[2016-02-23 16:13] rwcarlsen commented on #1232
I fixed the link - sorry for the delay.

[2016-02-23 16:15] rwcarlsen commented on #1232
Those linker errors are not something I've seen (at least w.r.t. this issue).  They don't appear to be particularly related to the hdf5 issues we've been seeing.

[2016-02-23 16:16] rwcarlsen commented on #1176
Fixed by #1214 (hopefully).

[2016-02-23 16:16] #1176 closed

[2016-02-23 16:26] scopatz commented on #1232
Right, except that they are preventing me from getting to the HDF5 error or installing cyclus at all on my desktop.  Note that I am using miniconda3 with our stack on that machine.

[2016-02-23 16:29] scopatz commented on #1232
The errors that you posted for hdf5 seem like they are related to invalid memory locations for table and group locations.  My suspicion is that this is not an HDF5 version issue per se, or at least not only.  It should be possible to git bisect cyclus to find the change set that causes the problem.

[2016-02-23 16:30] scopatz commented on #1232
I would do this but I can't even compile the develop branch right now....

[2016-02-23 16:41] rwcarlsen commented on #1232
The issue may have existed forever in Cyclus - since it was only uncovered by new compiler versions :-(.  And I've still never figured out a good way to git bisect only --first-parent commits (i.e. excluding merge commits).

[2016-02-23 16:46] scopatz commented on #1232
I am happy to try to track down the issue, but I need to be able to compile cyclus.

[2016-02-23 16:46] scopatz commented on #1232
Also happy to open a separate issue for that.

[2016-02-29 16:26] rwcarlsen opened #1235 "Handle floating point precision carefully in DRE"
PR #1234 fixed some very serious problems encountered by @Baaaaam when doing FCO work w.r.t. the way floating point comparisons were handled in DRE.  An effort has been made in various parts of Cyclus to fail loudly to force users (i.e. archetype developers) to deal with the issue - like the ResBuf throwing exceptions - but there may still be places in DRE (and possible material ops like absorb/ex

[2016-03-01 17:22] scopatz commented on #1232
Any ideas?

[2016-03-02 19:57] rwcarlsen commented on #1232
I haven't had much chance to look.  My attention will be spotty as I
prepare for my defense over the next couple weeks.

On Tue, Mar 1, 2016 at 11:22 AM, Anthony Scopatz <notifications@github.com>
wrote:

[2016-03-11 14:40] gonuke opened #1236 "Errors in hdf5_back_gen.py"
I am getting the following error when I try to build cyclus on a clean Ubuntu system....  I know there are a lot of issues and discussion around HDF5 right now, but I didn't see anything about this...  @scopatz ? @hodger ?

[code]

[2016-03-11 14:47] scopatz commented on #1236
@hodger, can you take a look please?  Also @gonuke, I still cannot compile / link Cyclus on my main machine.  See #1232.

[2016-03-11 16:48] gonuke commented on #1236
Note, these errors don't necessarily prevent the build from completing, but I wonder if they are related.  They happen early in the CMake process and may not have been noticed by others???

[2016-03-11 16:50] gonuke commented on #1232
@scopatz can you get cyclus to build outside of a conda environment?  I can try if you haven't (notwithstanding #1236)

[2016-03-11 19:58] hodger commented on #1236
I am going over this, but I can't seem to duplicate that error. When I attempt to install from develop, the hdf5_back.cc seems to build fine, but I get errors from the Google Test.

[code]
I'm not familiar with what the Google Test is doing here.

[2016-03-11 20:01] hodger commented on #1236
@gonuke regarding your traceback, I've executed hdf5_back_gen.py to print to console, but I am not getting any recursion error. I'm going to keep looking to see if its output matches what is expected.

[2016-03-14 11:07] gonuke commented on #1236
I was on a clean Ubuntu 14.04 system (Rackspace) and then do this:
[code]

See the full `build.log` at https://gist.github.com/gonuke/9d6476f67f81e23f2df2

[2016-03-14 11:21] gonuke commented on #1236
I've repeated the same on clean Ubuntu 15.10 system (also Rackspace), and its build.log is available in the same gist: https://gist.github.com/gonuke/9d6476f67f81e23f2df2

[code]

[2016-03-18 22:31] hodger commented on #1236
Just wanted to ping: still working on this issue.

[2016-03-23 00:05] hodger commented on #1236
@gonuke @scopatz

I've made headway on this! What I found is that on a fresh install of 14.04, these errors arise from unhandled cases of the Python 2 "unicode" type.

The convert_canonical function doesn't know what to do with this type and then recurses endlessly.

Inside the cyclus/src directory, this command:
```python3 hdf5_back_gen.py```
will produce the correct output.

However, when we try

[2016-03-23 00:52] scopatz commented on #1236
@hodger the best thing to do is to make sure that the code works with Python 2.7.  Cyclus still supports this version of Python, and so the `hdf5_back_gen.py` script should be Python 2.7 compatible.

[2016-03-24 04:27] gonuke commented on #1236
I agree with the strategy of ensuring compatibility with Python 2.7, but to explain what @hodger was experiencing....  the CMakeList.txt files invoke `python` in three different places.  Perhaps we should capture the specific version of python that is used to invoke `install.py` and then use that in the CMakeList.txt files??

[2016-03-24 04:31] scopatz commented on #1236
Ideally, yes, I agree with you @gonuke that the version of Python that install.py was called with should be passed down. In fact, I thought it already was...

[2016-04-07 21:31] rwcarlsen commented on #1232
This is still an issue and will block the release until we can figure out a solution.  I dug at it a bit before and wasn't able to come up with anything. I'm not confident I'll be able to resolve it quickly - so continued help from others will be appreciated.

[2016-04-07 21:36] scopatz commented on #1232
I don't believe that this is - or at least not strictly - a compiler issue, but rather an HDF5 version issue.  @hodger and I went through a testing round and discovered that v1.8.13 was the last version that fully worked on Ubuntu 15.10 with the newer compilers.  We have yet to test the latest version (v1.8.16) to see if that addresses the problem.  We have been working on it. but more eyeballs wo

[2016-04-11 15:37] gonuke opened #1239 "Capture python version/interpreter called by user during install"
When a user runs `python install.py` they might specify a particular python version, e.g. `python3 install.py`.  The install.py script ultimately calls CMake which in turn runs python in some steps, but always calling just `python`.

There needs to be mechanisms to capture the python interpreter run by the user and pass that to CMake.

[2016-04-11 15:56] rwcarlsen commented on #1232
I get all the same failures with 1.8.13 with clang 3.7.1 on arch linux.

[2016-04-11 16:44] rwcarlsen commented on #1232
I ran the hdf5 library tests (i.e. `make test` in hdf5 source) and they all seem to pass when using a configuration that fails our Hdf5Back tests - increasing the likelyhood that the issue is in our code.

[2016-04-12 05:42] scopatz commented on #1232
Can you try HDF5 v1.8.16 please?

[2016-04-12 14:23] rwcarlsen commented on #1232
I think I've fixed the bug @scopatz - can you try #1232?

[2016-04-12 14:24] rwcarlsen commented on #1232
Sorry - I meant #1241

[2016-04-13 17:09] #1232 closed

[2016-04-13 21:12] rwcarlsen commented on #1236
@gonuke - can you confirm that this has been fixed - and close accordingly?

[2016-04-13 21:13] rwcarlsen commented on #1198
Closing - feel free to reopen if needs further resolution.

[2016-04-13 21:13] #1198 closed

[2016-04-13 21:21] rwcarlsen commented on #1239
CMake calls `cycpp` which is a python script, but it just uses the bang-line specified `#! /usr/bin/env python` for python with no ability for user to change their mind - this is in addition to calling python explicitly (e.g. `python foo` for a few other scripts in CMake files.  I'm not sure the best way forward with this.

@gonuke - has there ever been any problem you've seen caused by this?  I d

[2016-04-16 00:43] hodger opened #1244 "gtest errors on Ubuntu 15.04"
I'm getting gtest errors when I try to build Cyclus from the current develop branch.
Here's the beginning of the errors:
[code]
The rest of the log is here: https://gist.github.com/hodger/be6812e68731520cf7d8c07d9a891b7d

Just to be clear, I'm using ```--clean``` when I call the install. Anyone know what might be causing this?

[2016-04-18 13:47] rwcarlsen commented on #1244
This is indicative of having incompatible version of gtest installed
somewhere on your system, and cmake is finding the wrong includes for part
of the build process.  You'll need to hunt down wherever the older gtest
files are installed at and remove them (e.g. in $HOME/.local/[include and
lib]/cyclus/, etc.).

On Fri, Apr 15, 2016 at 7:43 PM, Ryan Hodge <notifications@github.com>
wrote:

[2016-04-18 20:52] hodger commented on #1244
@rwcarlsen Thanks for the tip! The culprit was a version of gtest in Miniconda3's include directory. Got rid of that and things work fine. Closing issue.

[2016-04-18 20:52] #1244 closed

[2016-04-25 18:53] Baaaaam opened #1245 "accessing the DRE intel"
This issue has the same goal as the cycamore issue [#403](https://github.com/cyclus/cycamore/issues/403).

I find very difficult for a simple user to diagnose the behavior of a simulation, to allow him to understand what append during the simulation and if an unexpected behavior is normal or resulting of a input mistake.

I don't know what is the best way to do it: verbose level / information in t

[2016-04-26 20:14] rwcarlsen commented on #1245
http://fuelcycle.org/arche/testing.html#debugging provides a mechanism to
get most of the info you are looking for.  I'm not sure to what degree we
want to provide all info via stdout logging vs the database.  It might be
worth a discussion in general for good ways to have better and more
consistent logging coverage - and where that should live stdout vs db.

On Mon, Apr 25, 2016 at 1:53 PM, Mougi

[2016-05-04 18:52] mbmcgarry opened #1247 "document the process for adding new datatypes"
This requires editing sqlite_back and  queryable_backend. It is not difficult but should be documented

[2016-05-10 19:59] scopatz opened #1249 "No error if subproc fails during build"
Commands like `EXECUTE_PROCESS()`, such as used [here](https://github.com/cyclus/cyclus/blob/develop/src/CMakeLists.txt#L8) do not cause CMake to fail, thus causing extraneous errors in testing or building down the road.  These should fail ASAP.

[2016-05-10 20:04] scopatz commented on #1249
Seems like this is is what we need to implement: http://stackoverflow.com/a/15323505

[2016-05-10 20:07] scopatz opened #1250 "Test errors on develop"
I am experiencing the following test errors on develop (9065eeae11a59bf22123c0d97d953e883bfda3c2) when I run nosetests, seems like it can't find the input files at all.

[code]

[2016-05-10 21:06] gonuke commented on #1239
IIRC, this can be a problem when one version of Python on someone's system has some packages installed and other versions don't.  If you launch install with an explicit Python version that has necessary packages installed, and then the default underlying Python gets invoked without necessary packages, then problems emerge.

[2016-05-10 22:54] scopatz opened #1251 "Linker issues for cyclus_unit_tests on develop"
On a clean build on Ubuntu 15.10 (without conda), I am seeing the following run-time linker error on develop (9065eeae11a59bf22123c0d97d953e883bfda3c2):

[code]

This seems to be related to gtest in some way. Everything seems to build just fine. Note that on this same machine on `1.3.1` everything builds fine and the tests run and I don't see this issue.

This is preventing me from looking into th

[2016-05-10 23:46] opotowsky commented on #1251
I have Ubuntu 15.10, the most recent libgtest-dev installed via apt-get (1.7.0), and cyclus on develop with a clean build. I do not get this linking error.

[2016-05-11 00:38] opotowsky commented on #1250
I'm finding the input files properly. Just in case it's relevant, the only failure I have is below:
[code]

[2016-05-11 00:56] scopatz commented on #1251
Thanks for the hint about libgtest-dev. That didn't fix the issue for me and that doesn't seem to be listed in the readme. Is that a dependency now?

[2016-05-11 01:29] hodger commented on #1250
I'm getting different errors than @scopatz , so my problems may be unrelated to this and more having to do with my setup:
[code]

[2016-05-11 02:22] rwcarlsen commented on #1251
This looks like the build is finding outdated gtest headers installed.  You
need to remove the cyclus specific installed gtest headers and lib and then
do a clean build.

On Tuesday, May 10, 2016, Anthony Scopatz <notifications@github.com> wrote:

[2016-05-11 02:25] scopatz commented on #1251
@rwcarlsen is it safe to remove gtest from the system completely?

[2016-05-11 02:25] scopatz commented on #1251
err from the repo?

[2016-05-11 02:28] rwcarlsen commented on #1251
Cyclus vendors and installs its own gtest in a cyclus specific dir (i.e.
Lib/cyclus/ and include/cyclus/). Those are the ones you need to remove.

On Tuesday, May 10, 2016, Anthony Scopatz <notifications@github.com> wrote:

[2016-05-11 02:34] scopatz commented on #1251
Why does it do that though? Can't we rely on a package manager?

[2016-05-11 02:35] scopatz commented on #1251
Removing that (and the rest of my system) did fix the issue.

[2016-05-11 02:39] scopatz commented on #1250
@hodger, you probably need to install pytables and numpy

[2016-05-11 16:34] Baaaaam commented on #1235
still experience the pb occasionally:

[2016-05-11 16:49] hodger commented on #1250
@scopatz thanks, you were right. Now, on develop (and the branch from PR #1248),  it looks like I'm just getting this one error, after which the tests seem to be running fine:
[code]

[2016-05-11 16:58] rwcarlsen commented on #1250
Runs clean for me.  @scopatz can you confirm the input files that are not
being found are correctly located in the tests/input subdir?

On Tue, May 10, 2016 at 9:39 PM, Anthony Scopatz <notifications@github.com>
wrote:

[2016-05-11 17:05] rwcarlsen commented on #1251
This happens sometimes when we revendor/update our internal gtest.  It occurs because our build system (i.e. cmake files) are not crafted carefully enough to prioritize including gtest headers from the cyclus repo/build itself over ones in the install location and/or other system locations.  I'll make an issue.

[2016-05-11 17:05] #1251 closed

[2016-05-11 17:06] rwcarlsen opened #1252 "Make build system use cyclus gtest headers first"
Sometimes, cmake finds old installed or other system gtest headers that are used instead of the ones shipped in the cyclus repo causing linker errors.  Builds need to be modified to use the cyclus-internal gtest files always.  For history see #1251.

[2016-05-11 23:43] scopatz commented on #1250
With the script from yesterday, I can get the tests working. Feel free to reopen.

[2016-05-12 14:48] rwcarlsen commented on #1239
I just checked and can't find any code in the cyclus repo that uses packages outside of the python standard library other than:

* nose - which is only used in tests and so the user specifies which nose they run when they run the tests making this not a problem.
* numpy - which is also only used in tests.  And doesn't seem to be a great issue for the same reason as nose given above.

Given the abo

[2016-05-12 14:51] rwcarlsen commented on #1181
I am closing this as covered by recently merged edits to CEP3 in cyclus/cyclus.github.com#187.  I'll be sure to give smbchk output a good look during the release process before regenerating it from a release build.  Reopen if you feel anything has not been sufficiently addressed.

[2016-05-12 14:51] #1181 closed

[2016-05-12 14:51] rwcarlsen commented on #1236
ping @gonuke?

[2016-05-13 00:46] scopatz commented on #1239
Pune has some cmake code for doing this

[2016-05-26 17:17] rwcarlsen commented on #1236
I'm closing this as addressed.  Remaining python capturing feature is now in separate issue #1239

[2016-05-26 17:17] #1236 closed

[2016-05-26 18:11] #1249 closed

[2016-05-27 16:15] rwcarlsen commented on #1250
@scopatz - it would help if you could try to have the tests print the actual working directory for the external cyclus commands.  Something like https://github.com/cyclus/cyclus/compare/develop...rwcarlsen:triage maybe.

[2016-06-06 19:42] gonuke commented on #1250
@scopatz - is there anything new here?  We'd like to do the release in the first 1/2 of this week.  We can't reproduce your errors.

[2016-06-06 19:53] scopatz commented on #1250
Hi All, Sorry I was off at PyCon last week and cyclus only runs on my personal desktop currently, which is rather inconvienet.  I am looking at this presently.  Might I suggest that this release should be a micro release instead?

[2016-06-06 19:56] scopatz commented on #1250
Or you can go ahead and release something but call it a known failure.  Cyclus just seems to not work on many systems, sadly.  Documenting the requirements - like only the lastest suite of compilers, operating systems, and certain known package managers would be fine.

[2016-06-07 00:22] scopatz commented on #1250
@rwcarlsen that patch had no effect, sadly.

[2016-06-07 15:53] rwcarlsen commented on #1250
That wasn't a patch to fix the bug - it was a patch to try to get more info
about the errors.

On Mon, Jun 6, 2016 at 7:22 PM, Anthony Scopatz <notifications@github.com>
wrote:

[2016-06-07 15:57] scopatz commented on #1250
@rwcarlsen Ahh Ok.  Well I can re-run when I go home tonight.

[2016-06-28 19:17] gonuke commented on #1239
Do we have a reference to Pune (google search is not sufficiently disambiguated)?

[2016-07-07 13:54] gonuke commented on #1235
There are still cases where ResBuf will fail loudly if a Pop is requested that is larger than the quantity.

One possible solution:
* allow the default `PopQty()` to allow the resource to be exhausted by up to `eps_rsrc()` extra, reseting to 0
* this will allow 2 options that are both permissive:
   * `PopQty(amt)` will guarantee `amt` if it's within `eps_rsrc()` of the quantity, rounding up to 0

[2016-07-07 15:18] gonuke commented on #1235
As I think more... I think my proposal above does not honor our desire for the API to be static.  We probably need to update all use cases we control for the version we need, with `eps`.

[2016-07-08 09:35] Baaaaam commented on #1235
Sorry I don't understand:

[2016-07-13 18:05] Baaaaam commented on #1250
any update ?

[2016-07-16 01:25] scopatz commented on #1250
I am on travel for the next 5 weeks away from my machine that actually can compile cyclus.  I'll keep trying on my laptop.

[2016-07-19 14:58] gonuke commented on #1235
We need to update all the times that we call `Pop*()` in the archetypes that we "own" to the correct version of `Pop*()` including `eps`

[2016-07-20 15:33] Baaaaam commented on #1235
all Cycamore archetypes have been updated.
Should I also include all the Cyclus ones ?

[2016-07-22 18:46] scopatz commented on #1239
Haha, sorry, I think I meant Pyne

[2016-07-22 21:53] scopatz commented on #1250
@Baaaaam fix is now available on #1264

[2016-07-27 19:51] Baaaaam commented on #1250
We can close it I guess as #1264 has been merged...

[2016-07-27 19:51] #1250 closed

[2016-09-08 14:33] Baaaaam opened #1279 "stubs broken"
I think my last PR #1278, to fix the ABI issues, broke the stubs archetypes. While compiling my own ([cyCLASS](https://github.com/Baaaaam/cyCLASS)) or the one of @mbmcgarry ([mbmore](https://github.com/mbmcgarry/mbmore)), we got:

Any one has an idea to fix those without breaking the ABI again ?

[2016-09-08 14:48] scopatz commented on #1279
Hi @Baaaaam, can you please post somewhere the full output.  Also, it seems that this is an API issue potentially, because it is failing to include a header.  An ABI issue would arise if it were to fail to link.

[2016-09-08 14:51] Baaaaam commented on #1279
there is the full output:
https://gist.github.com/Baaaaam/8712af4ead1941a69cef78d7e98eb6c0

[2016-09-08 14:53] Baaaaam commented on #1279
but In the change of @rwcarlsen `prog_translator.h` was not included any more in `toolkit/building_manager.h` as well as the include of `CoinPackedMatrix.hpp` (coming from `prog_translator.h`)

[2016-09-08 14:55] scopatz commented on #1279
That does not appear to be a clean build.  Please post the output from a clean build.  My guess is that the error you are seeing is from nit having a clean build.

[2016-09-08 14:55] Baaaaam commented on #1279
I think it was:
`python install.py -j4 --clean-build &> cyCLASS_install.txt`

[2016-09-08 14:58] scopatz commented on #1279
Also, try removing `-j4` as it makes it hard to reason about the output.

[2016-09-08 15:00] Baaaaam commented on #1279
https://gist.github.com/2f5c7a23dc38d3d39ec8c93561e2887f.git

[2016-09-08 15:17] scopatz commented on #1279
Do you actually have a file called `CoinPackedMatrix.hpp` on your system? Have you copied over all of the `cmake/` files and install.py from cyclus to your project?  It actually looks like your CMake configuration isn't trying to find Coin at all, which is why this is failing.

The API change originally was probably done so that downstream packages wouldn't have to have the Coin headers installed.

[2016-09-08 15:21] Baaaaam commented on #1279
I agree, as you need Coin, HDF5 SQLite and Boost for Cyclus, we can update `stubs` to require them as well:
if you don't have them you can't compile Cyclus, so there is no point to compile you own Cyclus archetype!

[2016-09-08 15:27] Baaaaam commented on #1279
@scopatz: my folder was previously generated from `cycstub` and work well since the last PR.
I'll try to do what you suggest.

[2016-09-08 15:34] scopatz commented on #1279
Yeah, cycstub is probably also out of date with respect to this issue.

[2016-09-08 15:36] Baaaaam commented on #1279
I was able to fix it adding:

in the `CMakeLists.txt` file

[2016-09-08 15:38] Baaaaam commented on #1279
Could we update the FIndCyclus.cmake to add those dependencies ?

[2016-09-08 15:39] scopatz commented on #1279
Yeah, we could / should.

[2016-09-08 15:39] scopatz commented on #1279
That is probably a change to be made in the cyclus repo itself and then copied to cycamore, etc.

[2016-09-08 15:48] Baaaaam commented on #1279
Do we want to do it for all the CYCLUS dependencies ?
 And use the install.py to recover it from CYCLUS folder ? So we don't have to propagate this change into cycamore repos any more ?

[2016-09-08 16:05] scopatz commented on #1279
I think trying to not propagate things and being too clever about the build system is what got us into this mess.  It is probably better to just have one place where the changes are made (cyclus repo) and then exact copies everywhere else.

CMake is supposed to have some tools for installing the Find*.cmake files to a known path and then using those.  This was experimental for a long time, and mig

[2016-09-08 18:46] gonuke commented on #1279
I think we have just discovered the reason for @rwcarlsen making this change in the first place.  I wondered why it was part of a PR on header leakage, and this is it.  By having a nested class/struct for `ProgTranslator::Context` it requires `prog_transalator.h` to be in `building_manager.h` which is in cycstub and all derivatives.

Cycstub & derivatives shouldn't need to know about COIN headers

[2016-09-08 19:28] gonuke commented on #1279
I want to pull out this point on Find*.cmake so it didn't get lost in my last post and since it is a main topic of this thread: I don't think CycStub or derivatives should have to know where to find COIN.  We don't expose any COIN API directly through the Cyclus API.  Cyclus does need COIN to build, but archetype developers don't/shouldn't need COIN headers to build!

[2016-09-08 23:28] scopatz commented on #1279
Hi @gonuke, sure maybe down stream packages shouldn't have to know about Coin headers, but requiring that they don't know about coin is asking for something to break.  And, the API & ABI did break.

I believe that the most robust solution would be to keep the original API (even if it is replaced with a stub that throws an error if used) and have the core packages (stubs, cycamore, etc) also FindCo

[2016-09-09 03:22] gonuke commented on #1279
Architecturally, the DRE has been designed with a layer between the archetypes and COIN.  This is the purpose of the `ProgTranslator` in the first place (thoughts from @gidden are welcome here, too).  [1]

I belive an archetype developer should be able to develop an archetype without having COIN headers on their system.  Let's say that they install the Cyclus kernel in some way that doesn't requir

[2016-09-09 03:34] scopatz commented on #1279
I don't think that I follow this.  Why wouldn't you be able to declare a constructor?

[2016-09-09 04:48] gonuke commented on #1279
Because `ProgTranslator::Context` is only a typedef to `ProgTranslatorContext`.  The constructor exists already and its `ProgTranslatorContext::ProgTranslatorContext`

[2016-09-09 04:51] scopatz commented on #1279
Sure, but `ProgTranslator::Context` and `ProgTranslatorContext` don't need to be the same type, so `ProgTranslator::Context` is free to define its own constructor - presumably one that raises a deprecation error.

[2016-09-09 04:55] gonuke commented on #1279
But if we don't use this typedef, then we really are changing the API as there are many places that continue to refer to `ProgTranslator::Context` as a valid type.  It is still perfectly valid to write new code in implementation files that refer to `ProgTranslator::Context` as those files will include `prog_translator.h` and be able to resolve the nested class.

Per the purpose of making this chan

[2016-09-09 05:11] scopatz commented on #1279
Maybe I am mistaken but there only seem to be three instances outside of the this class that refer to `ProgTranslator::Context`, and they are all in `toolkit/building_manager.cc`

[code]

Since they are all in an implementation file in function bodies, doesn't this make it effectively private?  There are no instances of its usage in the tests nor in cycamore (as expected).

I think we could change

[2016-09-09 05:17] gonuke commented on #1279
Right you are on API breakage.  I was noting that implicit construction of a `ProgTranslator::Context` object was still valid, but hadn't thought of the explicit constructor.... <sigh>

[2016-09-09 05:26] gonuke commented on #1279
Given our philosophy on API/ABI stability, I think we have to do this, as painful as I find it to leave this poorly designed API/ABI in place for the 1e-10 probability that it is being invoked somewhere.... `<sighs again>`

[2016-09-09 05:28] scopatz commented on #1279
Yeah, sigh is basically how I feel.  And this is a prime thing to fix up on the next major release.  APIs do slowly decay until the next time the slate can be wiped clean :)

[2016-09-09 05:28] gonuke commented on #1279
I'll give it a try now...

[2016-09-09 05:29] gonuke commented on #1279
Thanks for working this through with me @scopatz

[2016-09-09 05:31] scopatz commented on #1279
Thanks for caring about stability, @gonuke, unlike some OR packages I could name :).

[2016-09-21 18:55] gonuke opened #1287 "Build should fail on hdf5_back_gen failures"
Currently, the build process invokes `hdf5_back_gen.py` but ignores failures that may occur when this happens.  These failures are potentially (or always?) fatal to a good build.

We need to either have the build process fail directly, or have tests that will identify the consequences of these failures.

[2016-09-29 15:49] Baaaaam commented on #1279
I think this have been fix by PR #1281.

closing.

[2016-09-29 15:49] #1279 closed

[2016-09-29 15:49] Baaaaam commented on #1287
is it fixed ?

[2016-09-29 16:02] scopatz commented on #1287
Yes, by @hodger

[2016-09-29 16:02] #1287 closed

[2016-11-15 20:51] Baaaaam opened #1311 "unable to compile cyclus"
there is an issue with cmake I experience it both on ci and my laptop:

this appears when installing using both:
- `python install.py --clean-build`
- `mkdir bld; cd bld; cmake ..`

I don't understand why it is appearing now and was working yesterday before the merge

hopefully @scopatz will have a better idea...

when using the develop version before #1310 merge it is working.

[2016-11-15 21:01] Baaaaam commented on #1311
the problem come from the version.
on develop and release branch it is not set as v1.4.2-rc1 which it don't like.
did it get the tag name ?

[2016-11-15 21:03] Baaaaam commented on #1311
the problem comes from a bad tag name: I set it to v1.4.2-rc1 not 1.4.2-rc1...

[2016-11-15 21:06] Baaaaam commented on #1311
it was the problem.
to fix it I recreated a correct tag name. and suppressed the bad one.

@scopatz: Could you confirm it did not mess up with the `conda` thing ? if so please close this issue.

[2016-11-15 23:10] scopatz commented on #1311
Seems to work for me!

[2016-11-15 23:10] #1311 closed

[2016-11-16 13:42] gonuke opened #1312 "Wrap pyne.h for undef"

[2016-11-16 16:57] scopatz commented on #1312
I think the correct fix is to make pyne C++11 only and remove the macro there.  Wrapping the header might be easily missed since the header is amalgamated.

[2016-11-16 21:25] gonuke commented on #1312
The header is not amalgamated.  It is included as `pyne.h`.  I'm just  proposing that we create a header `pyne_wrapped.h` that itself only includes `pyne.h` and has the `#undef`.

[2016-11-18 17:26] scopatz commented on #1312
I think I see what you are getting at. That is probably be fine, even though I think the real fix is in pyne. Either way it is work :).

[2016-11-30 23:11] Baaaaam opened #1321 "ubuntu cyclus compilation"
I have been digging around the compilation of Cyclus on ubuntu 14.04/16.4, after I realized that the cmake_error log does not correspond to the problem.
- issue 1: ubuntu 14.04, `without cython`
[code]
**I propose a fix #1319**

- issue 2: Ubuntu 14.04 python2 **cython not found**
[files: apt-get list, compilation cout, Makefile diff](https://gist.github.com/Baaaaam/10fd69bf49631d81c23a3320521fffb

[2016-12-05 22:51] Baaaaam commented on #1321
this has been fix, closing

[2016-12-05 22:51] #1321 closed

[2016-12-05 22:58] Baaaaam opened #1324 "Python lib default installation path"
On MACOS, when not specifying an installation path with installing the full Cyclus suite (Cyclus/Cycamore/Cymetric) the Cyclus new python lib are copied in `~/.local/lib/pythonX.x/package-site` and Cymetric python lib in `~/Library/Python/X.x/lib/python/site-packages`.

I guess it is because the default python lib path is:
- `~/Library/Python/X.x/lib/python/site-packages/` on MACOS
- `~/.local/lib

[2016-12-06 16:32] Baaaaam commented on #1324
I propose a fix on symmetric: cyclus/cymetric#114

[2016-12-07 20:55] mbmcgarry opened #1327 "develop branch broken for Mac"
As of this commit:

commit f35ba876feb56b29373d2d061ec92c74834ec30b
Author: Anthony Scopatz <scopatz@gmail.com>
Date:   Fri Oct 28 18:54:22 2016 -0400

    some weird pointer fixes

[2016-12-13 15:12] Baaaaam commented on #1324
this has been resolved.
closing.

[2016-12-13 15:12] #1324 closed

[2016-12-14 21:00] bam241 opened #1329 "cyclus python package broke deb generation"
the actual version of the python package generation for cyclus broke the automatic debian package generation:

I have generated the debian package manually with those [changes](https://github.com/cyclus/cyclus/compare/master...Baaaaam:temp_fix_deb) in `cmake/SetupPyInstall.cmake.in`.

But those are acceptable to be merged.
@scopatz do you have an idea for a better solution ?

the problem is: `CMAK

[2016-12-15 22:14] scopatz commented on #1329
Hi @Baaaaam, I think we should have another variable that is set either to the dir you have if we are running CPack and the binary dir if we are not.

Also getting rid of res_var is not generally OK. Builds should fail ASAP.

I hope that this makes sense. Please open a PR and we can go from there.

[2016-12-15 22:20] scopatz commented on #1327
Sorry I don't have a mac to test this with @mbmcgarry. Can you provide more information please?

[2016-12-16 21:22] mbmcgarry commented on #1327
Hi Anthony,
As of the current develop branch, I am able to compile cyclus but get a seg fault during unit_tests. (Previously I was unable to compile at all, but that was traced to a problem with Boost 1.57 , and was resolved when I updated to 1.590 ).

Baptiste also gets this segfault on his Mac, but not on Ubuntu.

Let me know if you need more information.

-Meghan

Here is the backtrace:

[-----

[2016-12-16 21:59] scopatz commented on #1327
Hi @mbmcgarry - this is with the Python hooks I assume?

[2016-12-16 22:10] Baaaaam commented on #1327
I don't think so as master is working

BaM

[2016-12-16 22:16] scopatz commented on #1327
Please try out #1327

[2016-12-16 22:58] mbmcgarry commented on #1327
Nope, still same seg fault :(

[2016-12-16 23:03] scopatz commented on #1327
I am afraid I don't have enough information.  Can you please post the output of a clean build. I need to see your configuration.

[2016-12-16 23:17] scopatz commented on #1327
Actually, I think I see where the problem is coming from. Can you please send me a copy of the `src/eventhooks.h` file that is generated during your build.

[2016-12-16 23:23] Baaaaam commented on #1327
here is mine
[code]

[2016-12-16 23:26] scopatz commented on #1327
Right, so the problem is that it seems to be failing on not cycthon v0.25 and not linux and not gcc.

[2016-12-16 23:27] Baaaaam commented on #1327
the segfault occurs when running the "bug fix unit test":
[code]

here is a gist with the installation log:
https://gist.github.com/Baaaaam/bad31f6e588f72e1018e907cc563c113

[2016-12-16 23:33] scopatz commented on #1327
Thanks @Baaaaam. Can you also post the backtrace and please use the develop version of cyclus? It looks like you are on cyclus v1.4.2-rc2. Maybe you haven't fetched the latest tags?

[2016-12-17 00:10] Baaaaam commented on #1327
sry I believed I was on develop... : here is the log updated ( really on develop)

[2016-12-17 00:14] Baaaaam commented on #1327
here is the backtrace:
[code]

[2016-12-17 00:14] Baaaaam commented on #1327
ping me if you need anything else... my computer is not far...

[2016-12-17 00:57] scopatz commented on #1327
What version of XCode are you on?

[2016-12-17 01:13] Baaaaam commented on #1327
[code]

[2016-12-17 01:57] scopatz commented on #1327
Ok, can you try #1327 now, please?

[2016-12-17 02:00] scopatz commented on #1327
BTW [this issue](https://github.com/ldc-developers/ldc/issues/1252) makes me think that the XCode 7 thing might be the problem.  Hopefully it is just a private symbol / inline thing though.

[2016-12-17 02:38] Baaaaam commented on #1327
@scopatz do you mean #1330 or #1331,

I am trying #1331 right now...

[2016-12-17 02:48] Baaaaam commented on #1327
same on #1331

[2016-12-17 02:53] scopatz commented on #1327
OK, then I think this might be an XCode issue. Can you update to XCode 8 please and try it out then?

[2016-12-17 03:15] Baaaaam commented on #1327
Try that this week end!

BaM

[2016-12-17 20:11] Baaaaam commented on #1327
@scopatz Xcode8 improve it (it passes the Bugfixes Test but I segfault later:
here is the backtrace
[code]

[2016-12-17 20:13] Baaaaam commented on #1327
I run it with #1330, I am trying now with #1331

[2016-12-17 20:20] Baaaaam commented on #1327
I just release that #1331 segfault earlier :
[code]

[2016-12-20 20:32] scopatz commented on #1327
Can you check and make sure that libcyclus.dylib is linked against libpython?

[2016-12-20 22:01] Baaaaam commented on #1327
Is this what I need ? (on #1331)
there is no `libpython` there (only Python)

[code]

[2016-12-21 00:22] scopatz commented on #1327
Are you using homebrew or conda?

[2016-12-21 00:22] scopatz commented on #1327
This issue seems suspiciously similar: http://stackoverflow.com/questions/21052971/python-segmentation-fault-11-on-openni-module-import-issues-with-homebrew-boo

[2016-12-21 01:00] Baaaaam commented on #1327
I am on macport

BaM

[2016-12-21 01:01] Baaaaam commented on #1327
I'll try to proposed solution (and adapt it for macport) and I let you know.

BaM

[2016-12-21 01:05] scopatz commented on #1327
Are you using the Python from macports?

[2016-12-21 01:12] Baaaaam commented on #1327
Yes I am

BaM

[2016-12-22 22:41] scopatz commented on #1327
Thanks to @hodger, this was pointed out to be an issue on ubuntu too, that I had missed

[2016-12-22 22:43] scopatz commented on #1327
Also note that there is a bug in CI that counts segfaults as successes.

[2016-12-23 00:38] scopatz commented on #1327
Please try #1330 again.

[2016-12-23 04:11] bam241 opened #1334 "segmentation fault when running unit_test for the first time."
I have notice this before, and I forgot to report it.

Sometimes (not all the time) the first time I run the `cyclus_unit_test` after a fresh compilation, I got a segmentation fault:
[code]

the second (and all the other one after) works just fine:
[code]

[2016-12-23 04:12] Baaaaam commented on #1327
#1330 is fixing this and have been merged on develop.
Closing the issue.

thx again @scopatz

[2016-12-23 04:12] #1327 closed

[2016-12-27 20:38] FlanFlanagan commented on #1334
To add on to this I'm getting a segmentation fault on the integ_tests.cc tests.

`[----------] 3 tests from IntegTests
[ RUN      ] IntegTests.RunAllInfiles
Segmentation fault (core dumped)
`
I looked into it and it seems like that segfault is coming from the RunSim() function.

`TEST(IntegTests, RunAllInfiles) {
  std::vector<std::string> infiles;
  infiles.push_back("custom_dt.xml");
  infiles.p

[2016-12-29 00:28] scopatz opened #1336 "Make HDF5 generate create the same file each time."
It seems like some loops are over unordered data structures, causing the file to be generate in equalivalent but distinct versions.  Determinism here would allow us to cut down on recompile times. @hodger

[2017-01-13 18:33] scopatz commented on #1336
Thanks @hodger!

[2017-01-13 18:33] #1336 closed

[2017-01-30 20:24] aglenn2 opened #1344 "agent-annotations exit status value error"
agent-annotations returns a 0 exit status even when it fails

[2017-01-30 20:59] aglenn2 opened #1345 "Cyclus deps root is not available after install"

[2017-02-02 13:41] hodger commented on #1344
I'd imagine a fix would involve adding some checks in the `AgentAnnotations` class in `cyclus/main.py`. Maybe raising an error if the return value from `agent.annotations` is empty (or otherwise incorrect)

[2017-02-05 07:50] hodger opened #1347 "gentypesystem: std_vector_x_to_cpp causes segfault if argument not a numpy array"
I found this issue while working on the Hdf5_back_gen tests, caused a segfault.

If you add a `VECTOR_INT` as a regular python list to a recorder, like this:
[code]
The Cython referenced is this:
[code]
@scopatz is the fix just adding to the template in `gentypesystem.py`? That seemed to work for me, but I'm not sure if anything else needs to be tweaked

[2017-02-06 18:42] scopatz commented on #1347
Hi @hodger - yeah, we just need to add a resize, that is right. Probably before the loop since we know the size we want to resize to.

[2017-02-06 18:48] hodger commented on #1347
@scopatz do you think this is something worthy of throwing into #1346, or should I handle it in my upcoming PR?

[2017-02-06 18:51] scopatz commented on #1347
I think it would be best to just open a small PR with the fix and then I can merge that in quickly.  Or you can put it in your upcoming PR.  Either way. It doesn't make sense for #1346, since those were interface issues I found while writing docs.

[2017-02-06 18:53] hodger commented on #1347
Understood, thanks

[2017-02-10 17:20] hodger opened #1350 "Blob should be implemented as void* or char*, but is currently a string"
This restricts the kinds of data Blob can be used to hold. There should probably be a string constructor along with more general definitions of Blob's operators.

[2017-02-10 17:26] scopatz commented on #1350
Thanks for opening this @hodger

[2017-02-10 21:00] hodger commented on #1347
addressed by #1349, closing

[2017-02-10 21:00] #1347 closed

[2017-02-22 21:00] bam241 opened #1354 "issue with hdf5_back_gen.py preventing cyclus (develop) installation"
I tried to update cyclus on my ubuntu desktop (16.04)  and I got:
[code]

I was able to trace the change that make this between commit #8903790 and #23c29cc, which corresponds to PR #1333.

I am using python 2.7 which might be the source of the issue.
[here](https://gist.github.com/bam241/308fe85667fc848492d7e703920fa7e8) is a gist with my install log

[2017-02-23 18:43] scopatz commented on #1354
Hi @bam241 - yes, I believe that this is a Python 2 vs 3 issue. @hodger, would you mind taking a look at it, please?

[2017-02-23 19:55] bam241 commented on #1354
closing as this issue is fixed :)

[2017-02-23 19:55] #1354 closed

[2017-02-23 22:22] bam241 opened #1356 "some python issue?"
Thx for the previous fix, but still got some error:
[code]

[here](https://gist.github.com/bam241/9298e72132f6554d1982e31acfecc227) is the gist with the full installation log.

[2017-03-07 00:00] bam241 commented on #1356
@scopatz @FlanFlanagan @hodger any idea where this could come from ?

I believe it is still a python2 issue.
BaM

[2017-03-07 16:14] hodger commented on #1356
I believe @scopatz and I tracked down a solution- I will give an update this afternoon when I am near my computer.

[2017-03-07 18:14] bam241 commented on #1356
you fix one of the python2 issue I got earlier, then I run into an other.

[2017-03-07 18:14] bam241 commented on #1356
thx for looking at this.

[2017-03-07 20:08] rwcarlsen commented on #1350
``std::vector<unsigned char>`` might be better.  But std::string explicitly stores the length and so you can actually safely put in and retrieve arbitrary bytes - you just need to specify an explicit length if constructing a string via a ``char*`` constructor.

[2017-03-07 22:28] hodger commented on #1356
#1357 is hopefully the solution!

[2017-03-07 22:59] bam241 commented on #1356
almost :)

[2017-04-06 15:00] bam241 commented on #1356
this seems to have been fixed. thx @hodger

[2017-04-06 15:00] #1356 closed

[2017-04-06 15:04] bam241 opened #1366 "Ubuntu error: cannot import name loop"
Hi,
here is something I am experiencing on ubuntu only. This is working on Mac os.
I have a user that experience it also (Ubuntu 16.04).
[code]

Any ideas about this ? do we have to update something ?

thx

<details>
               :
           .CL:CC CC             _Q     _Q  _Q_Q    _Q    _Q              _Q
         CC;CCCCCCCC:C;         /_\)   /_\)/_/\\)  /_\)  /_\)            /_\)
         CC

[2017-04-06 16:52] FlanFlanagan commented on #1366
I'm not having this issue. Which version of python are you using?

[2017-04-07 14:49] bam241 commented on #1366
I am using python 27 on this computer…

[2017-05-01 15:05] bam241 commented on #1366
this is effectively a python 2.7 issue, I switched to python 3.5 and this fixed it.

[2017-05-01 15:07] bam241 opened #1369 "install.py cyclus version detection"
cyclus version detection relies on git tag.
this is then failing when using the tarball version.

seems users need to specify it manually.

Shall we update `master` ( and the tarball) with a default value ?

[2017-05-01 15:09] scopatz commented on #1369
I don't think that we should.  I think it is better for users to specify this manually.  Also note that this is an issue when you use cmake directly, not just from install.py

[2017-05-01 15:22] bam241 commented on #1369
when using python install.py (in a fresh docker container)
[code]

[2017-05-03 01:45] jbae11 opened #1370 "Cyclus::toolkit to allow functions for prototype state variables"
### Currently:
Input state variables in Cyclus Prototypes ( eg. `cycle_time` and `refuel_time` in Cycamore::Reactor) are static, and therefore cannot change over the course of the simulation.

### Motivation:
Some aspects of facility behavior (such as `cycle_time` and `refuel time` in a reactor) are not static, in real life. Rather, they are often random (follows a distribution), or some of these

[2017-05-12 21:27] katyhuff commented on #1369
I kindof do think we should give a version for the tarball. We only make one tarball per core version of cyclus, and every single build (from the tarball) will require --core-version=1.5.0 . So, we basically have three options:

1) Fix the installation instructions for the tarball build to include the --core-version=1.5.0 flag in the install
2) Make 1.5.0 the default in the tarball
3) When it fail

[2017-05-15 16:51] katyhuff opened #1374 "Cython version too old"
- I have a fresh, clean ubuntu 16.04 virtual machine.
- I have followed install from source instructions exactly, installing everything, including all optional packages, with apt-get. That includes `cython3`, as according to the instructions.
- I created a directory called cyclus. In it, created a directory called install.
- In the cyclus directory, I cloned cyclus and cycamore.
- From the cyclus/

[2017-05-15 17:32] katyhuff opened #1375 "Python3 Instructions for Ubuntu should include update-alternatives"
The default behavior on ubuntu is to ignore that you've installed python3 and various python3 packages... ubuntu will just keep pointing at python2.7 until you tell it to look at your new python3 install. To get ubuntu to use, by default, the python3 the user has just installed we now have to use "update-alternatives" (as here: https://benzidwael.wordpress.com/2015/04/17/installing-different-pytho

[2017-05-15 18:29] scopatz commented on #1374
Or conda install cython

[2017-05-15 18:33] katyhuff commented on #1374
Yes. correct. Right now, the dependency installation instructions seem to ignore conda... http://fuelcycle.org/user/DEPENDENCIES.html

[2017-05-15 18:40] scopatz commented on #1369
If we really want the version in the tarball the fix is to have a file checked into the repo that contains the version number (x.y.z).  Then if CMake detects fails to detect a git version and it wasn't specified on the command line or in the environment, it will use the one in this file. This is basically @katyhuff's option (3), but I would recommend against using symbols.json, since it is basical

[2017-05-15 18:44] katyhuff commented on #1369
In what sense, @scopatz ?

[2017-05-15 18:49] scopatz commented on #1369
symbols.json was used for the ABI stability test, which we have turned off to get CI to pass because ABI compatibility was broken a few times.  Though this is a little off topic, I am in favor removing those tests and files. They didn't help as much as I thought they would.

[2017-05-15 19:16] scopatz commented on #1370
Hi @jbae11 - first off, I think that the idea of having a functor type in the type system is a great idea!

Note that all of the state variables must be storeable in the database, so this comes down to a serialization issue.

Unfortunately, there are significant challenges in serializing C++ functions, though there are probably some gross hacks that can be done to make this work. Taking C++ off of

[2017-05-15 20:44] yarden-livnat opened #1376 "ExXlateTests.XlateCapacities fails possibly because of reversed rhs and lhs"
The ExXlateTests.XlateCapacities test fails with a strange error where it seems that the rhs and lhs are reversed.
This is on the master branch on OSX 10.12.4

Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 8.1.0 `(clang-802.0.42)`
Target: x86_64-apple-darwin16.5.0

Here is the only test that fails

/Users/y

[2017-05-15 21:07] scopatz commented on #1376
I'll add icu to the dependencies on Mac

[2017-05-15 21:09] scopatz commented on #1376
Thanks for reporting @yarden-livnat!

[2017-05-16 16:08] katyhuff commented on #1374
The cython treatment will need to be changed in the docs here:
https://github.com/cyclus/cyclus/blob/develop/DEPENDENCIES.rst

@skc222 is on it.

[2017-05-16 16:09] katyhuff commented on #1375
The python version information will need to be changed in the docs here:
https://github.com/cyclus/cyclus/blob/develop/DEPENDENCIES.rst

This information should be placed right after :+1:
[code]

[2017-05-16 16:11] scopatz commented on #1374
Cool thanks @katyhuff and @skc222!

[2017-05-16 16:28] katyhuff commented on #1369
So, @skc222 has created a nice little python file that can currently pull the version number from the symbols.json file.

Perhaps we should use that until symbols.json is actually removed from the repository. If symbols.json is removed from the repository, then at that point it would be appropriate to replace it with a single-purpose file with the version number. Creating that single purpose file

[2017-05-16 16:43] scopatz commented on #1369
Maybe @skc222 can just remove symbols.json and the related tests as part of this?  Alternatively, I am happy to remove it myself.

[2017-05-16 17:33] skc222 commented on #1369
Yes sure @scopatz but then are you suggesting to use option 1 suggested above by @katyhuff to resolve this issue? If yes then I can work on improving documentation accordingly.

[2017-05-16 17:37] scopatz commented on #1369
@skc222 I am strongly recommending that if option 3 is pursued, symbols.json is not used for an activity beyond which it is designed. If this means removing symbols.json and the related tests, I am happy with that state of affairs. I am also happy if all of the symbols stuff is ignored wrt to this issue.

[2017-05-16 20:10] bam241 opened #1377 "swapping c1 and c2 in ExXlateTests.XlateCapacities"
Here

https://github.com/cyclus/cyclus/blob/develop/tests/exchange_translator_tests.cc#L151-L155
[code]

this no longer works with the default clang compiler shipped with the last version of MACOS (10.12 -- Sierra)

[2017-05-16 20:13] scopatz commented on #1377
Is there any way that we can distinguish between Mac OS versions via a pre-proc variable?

[2017-05-16 20:14] bam241 commented on #1377
I'll look into that, I just posted this to keep a track

[2017-05-16 20:17] bam241 commented on #1377
this is a duplicate of #1376 .

closing this one

[2017-05-16 20:17] #1377 closed

[2017-05-16 20:18] bam241 commented on #1376
see #1377 for explanation.

wi'll be looking at this.

[2017-05-16 22:02] katyhuff commented on #1374
This has been closed with #1378 .

[2017-05-16 22:02] #1374 closed

[2017-05-17 17:51] katyhuff commented on #1345
Please be more specific and include sufficient detail to replicate this bug. What did you do, what were you expecting, what happened instead. In any case, for what purpose do you need to have this build hint available after install?

[2017-05-17 17:57] katyhuff opened #1380 "Deprecate ABI tests"

[2017-05-17 17:59] katyhuff commented on #1369
I've created a new issue related to deprecating the ABI tests (#1380). @skc222 will make the documentation change to solve the tarball situation relevant to this issue. The ABI tests and peripherals like symbols.json can be removed by whomever has time for issue #1380 first!

[2017-05-17 18:50] scopatz commented on #1369
Thanks @katyhuff

[2017-05-17 18:57] bam241 commented on #1380
I was also thinking, that the symbol list is done on a different configuration at each new release, this might slightly change the ABI symbols each time...

I was thinking about building a docker container that will be used for the release, in order to keep a better control on the system/compiler used for the release and the symbols generation...

[2017-05-18 16:59] orpheus92 opened #1382 "Cyclus_unit_test issue"
I got this error after I build cyclus and cycamore from the develop branch on github.
I tried both cmake installation and python install.py, and they give me same error for cyclus_unit_test.

[==========] Running 503 tests from 109 test cases.
[----------] Global test environment set-up.
[----------] 3 tests from SymbolicFunctionTests
[ RUN      ] SymbolicFunctionTests.linearfunc
[       OK ] Symb

[2017-05-18 17:02] orpheus92 commented on #1382
It is built under ubuntu 16.04 with python 3.5+. Most of the required libraries are installed with ubuntu packages.  Some other libraries are installed with pip.

[2017-05-18 20:37] scopatz commented on #1382
Hi @orpheus92, can you drop into pdb please and let us know what the backtrace is? Thanks!

[2017-05-18 22:30] orpheus92 commented on #1382
Starting program: /home/orpheus/.local/bin/cyclus_unit_tests
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[==========] Running 503 tests from 109 test cases.
[----------] Global test environment set-up.
[----------] 3 tests from SymbolicFunctionTests
[ RUN      ] SymbolicFunctionTests.linearfunc
[       OK ] SymbolicFuncti

[2017-05-19 17:18] orpheus92 commented on #1382
I am not sure whether this is related to my problem of failing test cases. When I was trying to use cyclus python binding (develop branch installation) or cymetric to read an output hdf5 data, it is missing all the tables related to keys and values for some reason.

[2017-05-19 17:20] scopatz commented on #1382
hmm Can you post the full backtrace please @orpheus92? Thanks!

[2017-05-19 17:25] orpheus92 commented on #1382
Did you mean the backtrace for unit-tests?
Program received signal SIGSEGV, Segmentation fault.
0x00007fffef9352d8 in PyDict_GetItem ()
from /usr/lib/x86_64-linux-gnu/libpython3.5m.so.1.0

shows up  when I use gdb to debug it. I will see whether I can provide the full backtrace.

[2017-05-19 17:29] scopatz commented on #1382
In gdb, you should be able to use the `bt` command to get it. I hope this helps!

[2017-05-19 17:30] orpheus92 commented on #1382
Thanks!

Program received signal SIGSEGV, Segmentation fault.
0x00007fffef9352d8 in PyDict_GetItem ()
   from /usr/lib/x86_64-linux-gnu/libpython3.5m.so.1.0
(gdb) bt
#0  0x00007fffef9352d8 in PyDict_GetItem ()
   from /usr/lib/x86_64-linux-gnu/libpython3.5m.so.1.0
#1  0x00007ffff57eb713 in __Pyx_GetModuleGlobalName(_object*) ()
   from /home/orpheus/.local/lib/libcyclus.so
#2  0x00007ffff57e925c i

[2017-05-23 20:55] scopatz commented on #1382
Ahh interesting, it seems to be trying to delete an agent that doesn't exist.  Is this the current develop branch?

[2017-05-23 21:16] orpheus92 commented on #1382
@scopatz
Yes, I cloned it sometime last week. It should be the latest if you guys have not updated that since then.

[2017-05-23 21:55] skc222 commented on #1366
I can not replicate this error on fresh 16.04 VM and using python 2.7.
Following are the commands I used :
[code]
@bam241 Why do you think that this is python 2.7 issue?  Also did you get this error for some particular test?

[2017-05-23 22:11] bam241 commented on #1366
@skc222 I am not sure about a specific test, I will try to reproduce it.

[2017-05-23 22:47] bam241 commented on #1366
@skc222 I installed cyclus on a fresh docker container (ubuntu 16.02, python 2.7)
and I can see this running the `cycamore_unit_test`

also strangely I am not able to run `cyclus_unit_test`:
from `gdb`
[code]

[2017-05-24 17:39] skc222 commented on #1366
It's strange that I am able to run both cycamore_unit _tests and cyclus_unit_tests on ubuntu 16.04 with python 2.7
[code]
[code]
[code]
@bam241 @katyhuff  Any thoughts?

[2017-05-25 16:46] scopatz commented on #1366
I think that you have some weird combination of the python 2 & 3 usage going on.  Could you try a fully clean rebuild?  Also can you please post you full build output?

[2017-05-25 16:57] scopatz commented on #1382
OK, oddly, I can't reproduce this normally but I can if I do:

[code]

[2017-05-25 17:09] #1376 closed

[2017-05-25 17:13] orpheus92 commented on #1382
Does this mean that my gtest_filter is specified somehow?

[2017-05-25 17:21] scopatz commented on #1382
No, the test order isn't guaranteed so some of the startup tasks that cyclus needs were just not run for you, where as they happened to be run for me. A fix is available in #1384

[2017-05-25 17:42] orpheus92 commented on #1382
Thanks! That works for me now. @scopatz
So I will close this issue.

[2017-05-25 17:45] scopatz commented on #1382
@orpheus92 We tend to leave the issues open until the fix has been merged onto develop :)

[2017-05-25 17:45] orpheus92 commented on #1382
Okay, thanks for letting me know!

[2017-05-25 19:05] skc222 commented on #1366
Here are the outputs of clean rebuild:
(copy pasted everything. Strangely it is passing all tests)
Output of installing cyclus and cyclus_unit_tests:
[code]

(Not able to post whole output of cyclus_unit_tests as there is some upper limit on number of characters)
[code]

[2017-05-25 19:06] skc222 commented on #1375
Can we close this issue?

[2017-05-25 19:07] skc222 commented on #1369
Can we close this issue?

[2017-05-25 19:08] scopatz commented on #1375
Yes, feel free to close it.

[2017-05-25 19:09] scopatz commented on #1369
I am happy with closing it, but we should probably ask @bam241

[2017-05-25 19:09] scopatz commented on #1369
since @katyhuff opened the deprecation one.

[2017-05-25 19:10] skc222 commented on #1366
Outputs for cycamore:
[code]

[2017-05-25 19:19] scopatz commented on #1366
@skc222 - so what is the error you are seeing?

[2017-05-25 19:21] bam241 commented on #1366
@skc222 it seems you don't have the python binding:
[code]
so you can't get my error :)

[2017-05-25 19:23] bam241 commented on #1369
I thing, we are good!
thanks you guys !

[2017-05-25 19:23] #1369 closed

[2017-05-25 19:26] skc222 commented on #1366
@scopatz  Actually I was trying to reproduce the above error mentioned by @bam241  as I want to analyse it.

Okay @bam241,  I did not notice that before. Thanks!

[2017-05-25 19:29] skc222 commented on #1375
I think I don't have permissions to do so as I cannot see any button to close issue.

[2017-05-25 20:01] #1375 closed

[2017-05-26 14:11] emmaredfoot opened #1385 "#inlcude instead of #include"
When building a new archetype, the location_name_tests.cc file has an error in the include statement:

/home/emma/github/cyclus/dual_generation/build/hybrid/dual_generation_tests.cc:8:2: error: invalid preprocessing directive #inlcude
 #inlcude "pyhooks.h"
 ^

[2017-05-26 14:45] scopatz commented on #1385
Hi @emmaredfoot - thanks for reporting! I don't believe that `location_name_tests.cc` is a file in the cyclus project currently. Are you on some other topical branch other than develop?

[2017-05-26 17:17] emmaredfoot commented on #1385
Hi @scopatz I think I addressed it and sent a pull request.

Thanks,

Emma

[2017-05-26 17:23] scopatz commented on #1385
Let's please leave this open until the fix is merged in. Thanks!

[2017-05-26 19:10] #1385 closed

[2017-05-27 16:00] #1382 closed

[2017-05-27 16:25] katyhuff opened #1387 "cycstub cli produces a stub that doesn't build"
As the title says, the cycstub cli produces a non-building stub. I'm working on tracking this down today, but wanted to create an issue about it. I'll assign myself.

I'm on a clean ubuntu 16.04 vm, using python 3.5 to build the most recent cyclus develop branch. Though the cyclus build throws a bunch of the warnings seen in #1366, it seems to pass all of its tests.

I create a cycstub test stub t

[2017-05-27 16:30] katyhuff commented on #1387
Of course, this is because I called it testfacility... closing in favor of a fix in the docs.

[2017-05-27 16:30] #1387 closed

[2017-05-30 15:13] bam241 opened #1388 "NameError: name 'cyclib' is not defined"
After reinstalling `cyclus` I got this message when running the unit test:

[code]

I don't know if this is related to #1366 or if this is a separated issue, or if this is related to my configuration...

[2017-05-30 15:16] bam241 commented on #1388
note that the unit_test are not failing.

[2017-06-01 19:28] sskutnik opened #1389 "Compile error on macOS from CMake flags"
I can no longer compile Cyclus on macOS Sierra, due to what appears to be unidentified compiler flags that XCode treats as errors. Specifically I get the following errors:

This appears to be introduced by the [introduction of Transmutagen](https://github.com/cyclus/cyclus/commit/6a7077def3dd772284ccd8009a618f52a47a5861) #1383, i.e., the offending flags are in src/CMakeLists.txt, lines 166-168, co

[2017-06-08 15:31] bam241 commented on #1366
installing pandas python lib fixes it

[2017-06-08 15:39] katyhuff commented on #1388
we think (thanks to @scopatz ) this is a deep python import error related to not having pandas.

[2017-06-08 15:39] katyhuff commented on #1366
we think (thanks to @scopatz and @bam241 ) this is a deep python import error related to not having pandas.

[2017-06-08 15:51] scopatz commented on #1388
And to @bam241 ;)

[2017-06-08 16:00] bam241 commented on #1366
actually using python 2.7 on a ubuntu 16.04, I still have the pb with pandas installed :(

[2017-06-08 16:09] bam241 commented on #1366
and pandas was on the requirement list...

[2017-06-08 16:12] bam241 opened #1391 "Finding Pandas lib when Cython is present"
`CMake` don't try to find Pandas lib when `Cython` is present

Pandas is listed as a required lib, but not checked during compilation

[2017-06-08 16:19] bam241 commented on #1391
this should fix #1388

[2017-06-08 16:26] adityapb commented on #1366
I think this is because cyclus.lazyasd uses a lot of python3 specific stuff (for example importlib.util and collections.abc)

[2017-06-08 17:19] scopatz commented on #1366
@adityapb - I do think that there are some Python 2.7 issues too.  You are right that it may be lazyasd. Can you put in a PR with a potential fix, please? Thanks!

[2017-06-08 17:23] scopatz commented on #1389
Hi @sskutnik , thanks for pointing this out!  Out of curiosity, how long does it take to build with no flags installed? Does it seem to take a lot longer?

@asmeurer can you please figure out which flags should be used for clang and transmutagen?

[2017-06-08 17:33] scopatz commented on #1389
A potential fix is in #1392

[2017-06-08 17:35] scopatz commented on #1389
Note that the fix in #1392 is just a temporary solution to reallow transmutagen to compile. We still need the compiler flags for this @asmeurer :)

[2017-06-08 20:51] #1366 closed

[2017-06-09 19:45] asmeurer commented on #1389
I looked around, but I couldn't find anything that helps other than `-ffast-math`. Sadly, even with this, it is about 4x slower than with GCC. I tried `-O1`, but then the compilation doesn't finish. I'll keep looking to see if I can find anything else.

[2017-06-09 23:26] asmeurer commented on #1389
`-O1` compilation eventually crashed with `fatal error: error in backend: IO failure on output stream.`

[2017-06-10 00:22] asmeurer commented on #1389
Upon further testing and researching, I'm not even sure if -ffast-math is doing anything. I tried the suggestion from http://clang-developers.42468.n3.nabble.com/Complex-arithmetic-ignores-ffast-math-after-clang-r219557-serious-performance-regressions-td4046207.html, but it made it even slower.

I'll keep looking, but for now, just use `-O0` (needed to compile without hanging/crashing), `-ffast-ma

[2017-06-16 00:28] #1391 closed

[2017-06-16 00:29] scopatz commented on #1389
Thanks @asmeurer!

[2017-06-16 00:31] scopatz commented on #1389
Can you add that to the message that is printed at the end of transmutagen output, please? Thanks!

[2017-06-19 19:42] katyhuff commented on #1388
This is closed via #1391 and #1394 .

[2017-06-19 19:42] #1388 closed

[2017-06-23 15:13] #1389 closed

[2017-06-27 17:58] orpheus92 opened #1397 "Question related to python binding"
Hi all, I have a question related to the python binding.
When I try to run a simulation on of the the input scenario by python -m cyclus input.json in the command line, it reported an error related to the file simstate.py
The errors are shown as following:

[code]

I am using the latest develop branch of cyclus.

[2017-06-27 18:00] orpheus92 commented on #1397
{
 "simulation": {
  "agent": {"name": "deployer1", "prototype": "optim_deployer"},
  "archetypes": {
   "spec": [
    {"lib": "cycamore", "name": "Source"},
    {"lib": "cycamore", "name": "DeployInst"},
    {"lib": "cycamore", "name": "Sink"},
    {"lib": "cycamore", "name": "Enrichment"},
    {"lib": "cycamore", "name": "Reactor"},
    {"lib": "cycamore", "name": "Storage"},
    {"lib": "cycamo

[2017-06-27 18:26] scopatz commented on #1397
Hi @orpheus92 - this seems like a bug. I'll look into it.

[2017-06-27 18:41] scopatz commented on #1397
Thanks for reporting @orpheus92! A fix is now available in #1398

[2017-06-27 19:18] orpheus92 commented on #1397
What about line 175 "file=sys.stderr" in the same file?

[2017-06-27 19:20] scopatz commented on #1397
that should not be a problem

[2017-06-28 18:21] scopatz commented on #1397
Should be good to go now.

[2017-06-29 19:46] gyutaepark opened #1400 "ModuleNotFoundError: No module named 'cyclus.lazyasd'"
@adityapb
Since #1393, I am getting a module not found error.
Seems like a simple fix by removing the import line from
[code]

Currently running Ubuntu 16.04, with Python 3.6

[2017-06-29 19:50] gyutaepark commented on #1400
Fixed. Will make a PR for this

[2017-06-29 20:56] #1400 closed

[2017-07-04 21:59] orpheus92 commented on #1397
Do we need to add import sys at the beginning of simstate.py?

[2017-07-04 22:08] orpheus92 opened #1402 "Question regarding exchange_translator.h"
I have a question regarding the file exchange_translator.h.
It gives me an error when I try to run one of the scenarios. Then I check back the file in line 84.
I see the TODO, which mentions make the following check `pref <=0` and remove the `else if` block before release 1.5. I just wonder what does the value of pref mean here. And is that something that I can change in the latest develop branch

[2017-07-05 21:47] orpheus92 opened #1403 "Questions regarding json input."
I have a question regarding input format for cyclus.
Cyclus would be able to accept xml input and json input. I have a input file in the format of xml that could be used to generate simulations. However, when I use cyclus --xml-to-json to convert it to the format of json, the json file fails to validate the scenario and reports the error "Element simulation has extra content: schematype". Is there

[2017-07-05 23:01] scopatz commented on #1403
Hi @orpheus92 - can you please post the xml or the json somewhere (maybe in a gist)? This shouldn't happen. Thanks!

[2017-07-05 23:02] scopatz commented on #1402
Hi @orpheus92 - can you post the scenario you are trying to run, please?

[2017-07-05 23:03] scopatz commented on #1397
Are you seeing another error?

[2017-07-05 23:11] orpheus92 commented on #1403
JSON: https://gist.github.com/orpheus92/58509a81401d127fd6bd9efdde734661
XML: https://gist.github.com/orpheus92/14c580b9d63578871e1b19f9590430e6

[2017-07-05 23:13] orpheus92 commented on #1397
Sys module is used in line 175 but not defined. It reports the error when I run it. that is why I add import sys at the beginning.

[2017-07-05 23:16] scopatz commented on #1397
Yes, then.  Please PR a fix in! Thanks!

[2017-07-05 23:22] orpheus92 commented on #1402
For this issue, I added some new facilities to cycamore library for personal use. I am not sure whether it is caused by that. I just wonder what that part means in exchange_translator.h.
https://gist.github.com/orpheus92/f06ffaf37e4ad57e49935f4b98fd2e9a is the input file.
I used fleetreactor (FleetReactor) and storage (Storage2) facilites in https://github.com/rwcarlsen/rwc-archetypes.

[2017-07-06 17:07] orpheus92 commented on #1397
Closing this now.

[2017-07-06 17:07] #1397 closed

[2017-07-06 21:05] scopatz commented on #1402
Basically, 0-valued preferences are not allowed currently.  There is some debate on whether they should be allowed or not.

[2017-08-09 12:54] gyutaepark opened #1408 "Unable to find HDF5 Library"
@scopatz
I've tried to build Cyclus using the latest develop on Ubuntu 16.04 with anaconda installed. Unfortunately, there seems to be issues with finding the correct libraries, especially HDF5. I've tried the following versions of HDF5: 1.8.16, and 1.8.17.

This issue with building Cyclus did not exist when I tried building from `v1.4.2-release`.

Could you look into this please?

I've also attac

[2017-08-10 02:40] scopatz commented on #1408
Thanks for reporting @gyutaepark. What conda channels are you building based off of? I am using conda-forge, which I think has more updated versions of cmake and HDF5.

[2017-08-10 02:41] scopatz commented on #1408
Also, did you do a clean build? Also what line did you use at the command line? Also do you have the `cyclus-build-deps` package installed? This is part of conda-forge and needed for building cyclus on top of a conda installation.

[2017-08-10 11:33] gyutaepark commented on #1408
Oops sorry for the confusion. I'm building _CYCLUS_ from source. It's just that my python library is set up with Anaconda 3.

I've also tried a clean build but that did not help.
I am using the following line to build cyclus from source.
`python install.py --clean-build`

[2017-08-10 14:33] scopatz commented on #1408
What does `conda list cyclus-build-deps` say?

[2017-08-10 14:52] gyutaepark commented on #1408
Hmmm it returns nothing..
[code]

[2017-08-10 15:00] scopatz commented on #1408
right, so you should/need to install that package to be able to build Cyclus. I also recommend that you add the conda-forge channel to your condarc file

[2017-08-10 15:05] gyutaepark commented on #1408
Alright will do! Thanks for the help. I was just confused because this has not happened before.

[2017-08-10 15:48] gyutaepark commented on #1408
Installing `cyclus-build-deps` did work really well for me!
However, I'm still not sure why this error hasn't come up before or if this issue is just happening to me.
This was a clean Ubuntu (where I just installed Ubuntu for a new PC) and I've successfully installed Cyclus without having to install `cyclus-build-deps` through conda-forge.
Can someone that hasn't installed `cyclus_build~deps` try

[2017-08-10 15:56] gyutaepark commented on #1408
Actually, it seems like installing `cyclus-build-deps` on conda would be a good practice in general.

[2017-08-24 19:44] gyutaepark commented on #1408
I'll close this since installing cyclus-build-deps allows cyclus to be installed.
However, the recent update still has introduced an issue when installing cyclus without cyclus-build-deps.

Before, I was able to install cyclus without it. Unless, this was not intended, maybe it is something to be looked at later?

[2017-08-24 19:44] #1408 closed

[2017-08-24 19:47] scopatz commented on #1408
Hi @gyutaepark - when building with conda, it is expected that cyclus-build-deps is used. I would not expect the build to work if this package is not installed and that use case is not supported (by me :smile:)

[2017-08-24 19:47] scopatz commented on #1408
Thanks for closing!

[2017-08-29 16:41] bam241 opened #1411 "nosetests failing with numpy 1.12.0+"
This is apparently a know issue, (according to google) but I can't understand how to fix it.

I was hoping one of you (@scopatz @FlanFlanagan @katyhuff ) had a better understanding

[code]

[2017-08-29 16:43] scopatz commented on #1411
I think that this is because idx is a list or similar.  (I thought I had put in a PR to fix this...but maybe that was to cymetric?)  I think the fix is to use `idx[0]`. It is a len-1 array as a recall.

[2017-08-29 17:16] bam241 commented on #1411
@scopatz you were right, and also the [0] at the end was not required
` entries[name][agent_entry[idx]['EnterTime'][0]] += 1`
should have been
` entries[name][agent_entry[idx[0]]['EnterTime']] += 1`

I include this in the #1410 PR

[2017-09-02 15:31] bam241 commented on #1411
this has been fixed! closing.

[2017-09-02 15:31] #1411 closed

[2017-09-13 16:53] FlanFlanagan opened #1417 "Database Restructuring"
This is one of the topics discussed at the Cyclus meeting this summer. @scopatz and @gyutaepark were tasked with developing a CEP for this.

[2017-09-13 17:48] FlanFlanagan opened #1418 "Adding Recipes to Cyclus"
This was a topic touched on during the cyclus summer meeting. I believe that it was brought up by @katyhuff . I think the goal of this was to create a list of recipes for common reactor types for use in the cycamore reactor (or others).

Topics for discussion:
Where should this live?
Are recipe books still possible in Cyclus?
Which recipes do we choose to add to the packaged recipe books if possib

[2017-09-13 20:02] katyhuff commented on #1418
Regarding the second question: yes, in spirit.

My student, Gyu Tae Park (@gytaepark), has gotten this to work:
https://github.com/arfc/predicting-the-past/tree/master/cyclus_input

Not sure where it should live. IMO, a 'recipes' repository... somewhere.

[2017-09-23 16:46] bam241 opened #1419 "dependencies for MACOS"
dependencies need to be updated install cyclus on MACOSX

[2017-09-23 17:05] bam241 commented on #1419
[code]

this is probably normal, but we should either disable them if cyclus is installed without python binding, or at least warn the users

[2017-09-23 17:11] bam241 commented on #1419
nose tests require some python package to run.

[2017-09-23 18:06] bam241 opened #1420 "Cyclus compilation failing against Cython 0.27"
[code]
this might be a known issue:
https://github.com/cython/cython/issues/1880
on only occurring on MACOS

[2017-09-23 18:19] scopatz commented on #1419
These seem like they should be Skipped in this case, rather than Fails...

[2017-09-23 18:21] scopatz commented on #1420
Hi @bam241, do you mean it fails against Cython 0.27 or Python 2.7?

[2017-09-23 18:23] bam241 commented on #1420
Cython 0.27
(autocorrection sorry)

[2017-09-23 18:29] scopatz commented on #1420
What Python are you using? That thread seems to indicate that it might not happen on Python v3.5.2

[2017-09-23 19:22] bam241 commented on #1420
python 3.5.4

[2017-09-23 19:24] bam241 commented on #1420
my reference might be wrong, it seems to be an other issue.

[2017-09-24 01:53] scopatz commented on #1420
hmm interesting. I am still on Cython v0.26.1

[2017-09-24 02:14] bam241 commented on #1420
I switch back to 0.26.1 and it is working.
They release 0.27 this morning or yesterday.

I had an issue with macport so I did a clean install and pip installed the last version by default...

(That’s why other issue about the dependencies— was a good way to check documentation)

BaM

[2017-09-24 02:19] scopatz commented on #1420
I see, well, I am glad that switching back worked for the moment. We'll have to fix this I imagine. I wonder if it breaks on linux too

[2017-09-25 05:38] scopatz commented on #1420
I just tried 0.27 on linux and it seemed to work fine

[2017-09-25 07:08] scopatz commented on #1420
Actually, nevermind, I am now seeing this issue on linux.  I didn't do a clean build.

[2017-09-26 13:33] bam241 commented on #1420
@scopatz same problem on CI, the deployment part rely on `conda` for the dependencies, which updated the `Cython` version to 0.27.0:
https://circleci.com/gh/cyclus/cyclus/1314

[2017-09-26 21:01] scopatz commented on #1420
OK, well, I think I have a fix for the compile error on my `cy27` branch. However, there are a lot of segfaults in Cython functions now...

[2017-09-26 21:38] bam241 commented on #1420
maybe we can stay on 0.26.1 for the moment ?

[2017-09-27 05:37] scopatz commented on #1420
See #1423

[2017-09-28 19:39] bam241 commented on #1420
thx @scopatz closing,
fixed by #1423

[2017-09-28 19:39] #1420 closed

[2017-09-28 19:43] bam241 opened #1424 "Ubuntu 16.04 compilation issue"
I faced different issues trying to compile cyclus/master on my ubuntu computer:
first was an issue finding libxml2: that I fix reverting some part of the `CMakefile.txt`:
[code]

once this was fixed, everything seems to be fine but then I got:
[code]
@scopatz @FlanFlanagan any idea how to fix this ?

[2017-09-28 19:53] bam241 commented on #1424
not sure if this is related but I also get:
[code]
error during the configuration of `cmake`....

[2017-09-28 20:09] bam241 commented on #1424
also I am on python 2.7, could this be the source of the problem ?

[2017-09-28 20:29] bam241 commented on #1424
I got the same issue with python3.5 :(

[2017-09-28 20:30] bam241 commented on #1424
the cmake output related to hdf5:
[code]

[2017-09-28 21:31] bam241 commented on #1424
I was able to fix this adding:
`set(LIBS ${LIBS} ${HDF5_LIBRARIES})` in the CMakeList.txt file

this revert some of the change you included @scopatz any idea how to implement a better solution (than just reverting those?)

[2017-09-29 16:11] scopatz commented on #1424
I think I discovered this issue with @FlanFlanagan in PyNE and have a fix in there. I can try porting it over.

[2017-09-29 16:17] scopatz commented on #1424
See #1425

[2017-09-29 17:27] bam241 opened #1426 "ubuntu 16.04, con't find libxml2"
As reported in #1424 , `cmake` is not able to find `libxml2`:
[code]

reverting some of the change in the CMakeList.txt file allow to fix this.
[code]
I am not sure to understand the goal of this change, so I did not PR a revert...

[2017-10-06 19:50] asmfakhrul opened #1427 "Cyclist guide under Cyclus tutorials"
The first bullet point under "Excercise #1" on "Cyclus User Tutorial" page (http://fuelcycle.org/user/tutorial/index.html) refers to the Installing and Launching guide for Cyclist, not Cyclus.  The "Install Cyclus" button under "Useful Pages" menu on the left hand side panel takes to this page (http://fuelcycle.org/user/install.html). The first bullet point on this page too involves Cyclist, not C

[2017-10-06 19:51] scopatz commented on #1427
Thanks for reporting @asmfakhrul!

[2017-10-10 18:08] #1424 closed

[2017-10-10 18:16] bam241 commented on #1426
this should be fixed with #1428

[2017-10-10 19:47] bam241 commented on #1426
this should be fix, closing

[2017-10-10 19:47] #1426 closed

[2017-10-12 19:49] gwenchee opened #1429 "Failed Tests when running Cyclus_unit_tests"
I am encountering a test failure when running cyclus_unit_tests after installling Cyclus:
[  FAILED  ] ExXlateTests.XlateCapacities (0 ms)
AND
[  FAILED  ] 1 test, listed below:
[  FAILED  ] ExXlateTests.XlateCapacities

Details about my computer and installation:
Computer: Mac
Cyclus Installation: I installed Cyclus from Github, using the steps found: http://fuelcycle.org/user/install_from_git.ht

[2017-10-12 19:52] bam241 commented on #1429
could you provide a full installation log ?

I feel like this issue might be related to #1376

[2017-10-12 19:54] bam241 commented on #1429
btw `libxml++` and `libxml2` are not the same , but `libxml2` is a dependency of `libxml++` so installing the later will probably install the first one

[2017-10-26 12:23] FlanFlanagan commented on #1427
This is because that page specifically says the tutorial will use Cyclist. Then it has them launch the job via the cloudlus option.

This may still be in need of cleaning up because Cyclist is being phased out.

[2017-10-26 16:59] asmfakhrul opened #1431 "The error message generated when tried to run Cyclus isn't adequately informative."

[2017-10-26 17:53] bam241 commented on #1431
Could you be more specific ?

[2017-10-27 21:10] scopatz commented on #1431
This comes up when you don't have something installed. The error is a not very helpful.  It just says that the libcycamore.so or whatnot couldn't be found.

[2017-11-03 20:41] gwenchee opened #1433 "MacOS install issue"
I am installing Cyclus from conda python with Cyclus build deps installed. I am installing from the latest master. I am not sure if i am using Clang or gcc compiler and how to check.

The error is:

[code]

[2017-11-03 20:46] scopatz commented on #1433
Thanks for reporting, @gwenchee. Try updating boost.

[2017-11-03 21:04] gwenchee commented on #1433
Thanks for the quick response! I already have the latest version of boost (version 1.65.1).

[2017-11-03 21:59] scopatz commented on #1433
Did you perform a fully clean build (ie remove the build/ dir).  Sometimes these issues happen when new versions come out.

[2017-11-15 23:33] bam241 opened #1436 "'ctx' has incorrect type"
running unit test on archetypes I got:

[code]

@scopatz @FlanFlanagan I feel like it could be related to #1434 and/or #1435
(You can get the same running `cycamore_unit_test`)

[2017-11-15 23:39] bam241 commented on #1433
" I am not sure if i am using Clang or gcc compiler and how to check."
@gwenchee
this should be detailed in the first 3 line of output of the installation script:
[code]

[2017-11-16 17:30] FlanFlanagan commented on #1436
Hmm, I can't seem to replicate this error. This would be in relation to what we did though.

You're on the most recent version of master?

[2017-11-16 17:35] FlanFlanagan commented on #1436
Oh sorry, looking back at the actual log I do see this. However, it's not blocking the tests for me (which is why I missed it).

[2017-11-16 17:37] bam241 commented on #1436
it is not blocking the test, just popup a msg

[2017-11-16 17:38] FlanFlanagan commented on #1436
Can you add it as an issue and assign me to it? I'll try and see if I can't figure out the cause when I get some time.

[2017-11-16 18:06] scopatz commented on #1436
Seems like we are not pulling the ctx out of the capsule

[2017-12-01 19:56] gwenchee commented on #1433
Hello all,
I managed to get cyclus and the unit tests to run.
I used your suggestion @scopatz of clean building and used gcc instead of clang to compile.
This is what I put into the terminal to get cyclus to run:
python install.py -DCMAKE_C_COMPILER=/usr/bin/gcc --clean-build

[2017-12-01 19:56] #1433 closed

[2017-12-01 20:07] scopatz commented on #1433
Great! Glad you got it working!

[2017-12-04 16:58] FlanFlanagan opened #1440 "defining a new enter_notify in a python archetype throws an error."
I attempted to extend the enter_notify of an institution (python module), I implemented this inside of the class.

[code]

This returned an error citing that an argument is given to the enter_notify function when it expects none. I assume this is because I defined the function within the class, but I'm not sure where else I would define it.

TypeError: enter_notify() takes 0 positional arguments b

[2017-12-04 17:05] scopatz commented on #1440
This is a method, so you need to include self, which is the 1 expected argument.

[code]

[2017-12-04 17:59] FlanFlanagan commented on #1440
Yeah...brain fart.

Closing this.

[2017-12-04 17:59] #1440 closed

[2017-12-04 18:01] FlanFlanagan opened #1441 "Python Modules use default value over input file value"
If module input field has a default value the default value is always taken even if a value is provided in the input file.

[2017-12-04 18:10] scopatz commented on #1441
Can you please give a more detailed example.

[2017-12-04 18:32] FlanFlanagan commented on #1441
Sure.

If I set this as a variable on the module.

[code]
And then put this inside the input file

[code]

If I have the module print out demand_ts using,
`print(self.demand_ts)`

The return value is 1.

[2017-12-04 21:52] scopatz commented on #1441
Thanks for reporting @FlanFlanagan! Potential fix in #1442

[2017-12-05 20:43] bam241 commented on #1436
I don't see this anymore, using latest master.

Closing.

[2017-12-05 20:43] #1436 closed

[2017-12-06 18:30] #1441 closed

[2017-12-08 18:49] FlanFlanagan opened #1445 "Python Modules can't access all C++ module functions"
For example within a python module you can not call

agent.prototype()

This isn't blocking right now but it is important to do for future python developers.

[2017-12-08 19:04] scopatz commented on #1445
Thanks for reporting @FlanFlanagan !

[2017-12-08 21:30] bam241 opened #1446 "installation issue "cannot create directory: /cyclus""
Second time I run into this issue.

First Emma, and now Eric a graduate student working with us.
Eric is using Ubuntu 16.04 virtual machine with python2.

[code]

[2017-12-08 21:30] bam241 commented on #1446
switching to python3 fixes the issue.

[2017-12-08 21:37] scopatz commented on #1446
Can you post the full error message in a gist please?

[2017-12-08 22:30] bam241 commented on #1446
unfortunately I don't have it.

I'll try to reproduce it with a docker container.

[2017-12-08 22:36] bam241 commented on #1446
docker will not work with a the default ubuntu container because default user is root, so we don't run into this privilege issue...

I'll come with an shareable example asap.

[2017-12-12 02:04] scopatz opened #1447 "GetTreePrintOuts() and PrintChildren() Untested and Segfaulting"
These two member functions of the Agent class do not have unit tests and segfault (with what appears to be be a recursively triggered stack overflow) on non-trivial cases (ie those with actual children). This is because the recursion seems to be on`this` agent, rather than the agent passes into the function.

[2017-12-12 18:18] scopatz commented on #1445
Closed by #1448

[2017-12-12 18:18] #1445 closed

[2018-01-02 22:44] bam241 opened #1450 "Library not loaded"
with the last version of master `0623719a` when trying to run the `cyclus_unit_test` I got:
[code]

reverting to `ef22fb69` don't experience this anymore.
@scopatz it seems to be related to the CRAM thing.

It might be a local problem, but my LD_LIBRARY_PATH is set properly as well as my PATH...
Any idea how to fix it?

[2018-01-03 02:34] bam241 opened #1451 "removing a small quantity from a super large inventory"
https://github.com/cyclus/cyclus/blob/3baa4ac03c529c8c2e523c07302b6efe36d64aa9/src/toolkit/resource_buff.h#L18

I did face an issue with have the default capacity to double_max:
[code]
produces:
[code]

i.e. : the quantity is poped out of the inventory (`ResBuf`) but the quantity is so big that the double precision can't take it into account, so it remains the same, so when trying to pushing back

[2018-01-05 01:03] gyutaepark opened #1452 "Position toolkit is missing input validation"
Position toolkit is currently missing input validation (checking whether latitude is \geq -90 and \leq 90, etc.)

[2018-01-08 22:11] bam241 commented on #1450
@scopatz I guess it is because of #1443

I guess it is a bad configuration on my side...
Any idea how to fix this ?

[2018-01-08 22:12] bam241 commented on #1450
And we probably need to update the install docs...

[2018-01-10 03:52] scopatz commented on #1450
I am working on this @bam241 - but for now you can set `$DYLD_FALLBACK_LIBRARY_PATH = '/Users/mouginot/.local/lib/cyclus'`

This has to do with the fact that we install agents to lib/cyclus, and only is a problem on Mac.

[2018-01-10 14:48] bam241 commented on #1450
Make sense !
maybe we can add some symb-link on mac to `/Users/mouginot/.local/lib` ?

[2018-01-10 16:17] scopatz commented on #1450
Well the point of putting agents in the `lib/cyclus` dir is so that they are discoverable and don't clutter up `lib/` itself. We should probably fix this the right way :)

[2018-01-10 20:39] #1450 closed

[2018-01-11 17:03] scopatz commented on #1451
Hi @bam241 There is no easy solution to this.  Such is the burden of floating point.  One option would be to link in gmp or some other multi-precision library and write a new resource buffer that is able to use arbitrary values.  Alternatively, you can try dramitcally reducing the capacity to something like 1e8 or 1e16. These values may still be approximately infinite, but will have the precision

[2018-01-11 17:07] bam241 commented on #1451
@scopatz I was thinking about this,
In this case,  could we not also store the capacity available ?
And:
if  available_space << filled_space rely on the available space
if available_space >> filled_space rely on the filed space

I know this implies redondant informations, it it would allow more flexibility, (a user could set the inventory space to 1e299 himself even with a default value at 1e16...

[2018-01-11 17:12] scopatz commented on #1451
Hi @bam241, I don't think that solves the problem, it just shifts the precision down by a factor of 2.

[2018-01-13 19:09] #1452 closed

[2018-02-09 20:24] bam241 opened #1456 "cycstub docs"
cycstub allows to generate a directory with the basis to build its own archetypes.

cycstub options/flag does not appear on:
`cyclus --help`

[2018-02-18 03:26] bellis6 opened #1457 "Issues installing Cyclus/Cycamore (Unit Tests)"
Hi, I'm reinstalling Cyclus and Cycamore onto my personal PC.  I reinstalled ubuntu 16.04 on my computer and only executed the following commands into my terminal:

First I installed Anaconda 3 from the terminal

[code]

Then, from [http://fuelcycle.org/user/install_binary.html], I installed Cyclus and Cycamore using the following commands:

[code]

However, I am receiving the following output fro

[2018-03-01 23:19] scopatz commented on #1457
Hi @bellis6 - thanks for reporting.  Can you try `conda install libiconv`?  You may need to do the following:

[code]

[2018-03-03 18:26] bellis6 commented on #1457
Thank you.  It worked!

[2018-03-03 20:12] scopatz commented on #1457
Woohoo! Awesome!

[2018-03-03 20:12] #1457 closed

[2018-03-03 20:12] scopatz commented on #1457
maybe we should add those steps to the docs

[2018-03-07 16:09] FlanFlanagan opened #1462 "Cyclus python binding for trade.request.requester issue"
Calling trade.request.requester (or trade.request.requester()) results in a segmentation fault. This issue is in casting the requester I think. Python attempts to call agent_to_py. However, in C++ the requester of a request is actually a trader and not an agent.

Is this by design @scopatz ? (not the bug, the change from trader to agent)

[2018-03-07 16:13] scopatz commented on #1462
Thanks for reporting @flanflanagan. Can you please provide the backtrace?

[2018-03-07 16:20] FlanFlanagan commented on #1462
[code]

[2018-03-07 21:31] bam241 opened #1463 "Stopping a cyclus run"
Since the python binding, I am not able to stop a cyclus simulation using `CTRL +C`.

Am I the only one?
Ss it normal ?
Can we fix it ?

Sorry for being so long to report it :(

[2018-03-07 22:14] scopatz commented on #1463
I believe that I can stop it with crtl+c, have you tried crtl+z?

[2018-03-08 15:12] FlanFlanagan commented on #1463
Note ctrl+z only sleeps the operation. It is still stored on the machine.

I know this happens with Python modules because you only kill the process in the module and not the full cyclus run. Not sure why it happens with C++ modules.

[2018-03-08 15:25] bam241 commented on #1463
yes after the ctrl+z I have to kill the process manually :)

[2018-03-09 15:38] scopatz commented on #1463
Hmmm maybe Python is eating the KeyboardInterrupt...

[2018-03-09 17:27] FlanFlanagan commented on #1462
Currently a fix is in the works for this.

[2018-03-09 17:28] FlanFlanagan opened #1465 "Python agent issue with Resource.append"
Traceback (most recent call last):
  File "agents.pyx", line 945, in cyclus.agents._Agent.snapshot_inv
  File "typesystem.pyx", line 618, in cyclus.typesystem._ResBufMaterial.pop_all_res
  File "typesystem.pyx", line 588, in cyclus.typesystem._ResBufMaterial.pop_n_res
AttributeError: 'Resource' object has no attribute 'append'

This error occured at the end of a run using the in development peddle

[2018-03-09 17:29] scopatz commented on #1465
OK looking into it now.

[2018-03-09 17:37] scopatz commented on #1465
Hmm When I run peddler on the `cast_fix` branch, it works just fine.  Have you added something to peddler that you haven't pushed up?

[2018-03-09 17:43] scopatz commented on #1465
This is a legit error, though.  I think I see what the problem is. Fix incoming.

[2018-03-09 18:04] scopatz commented on #1463
@bam241 are you seeing any output at all?

[2018-03-09 18:16] FlanFlanagan commented on #1465
You'll need to be on the most recent version of Peddler to see it. I think it comes from inventory in the reactor?

[2018-03-09 18:17] scopatz commented on #1465
I am on the most recent version.

[2018-03-09 19:07] scopatz commented on #1463
Potential fix in #1467

[2018-03-09 19:08] scopatz commented on #1465
Did the fix in #1466 work?

[2018-03-09 19:09] bam241 commented on #1463
@scopatz
[code]

[2018-03-09 19:09] bam241 commented on #1463
I have a cyclus simulation running I try your fix as soon as it finishes

[2018-03-09 19:15] scopatz commented on #1463
yeah I think that PR should fix it, given the traceback

[2018-03-09 19:31] FlanFlanagan commented on #1465
[code]

[2018-03-09 19:33] FlanFlanagan commented on #1465
It would appear material is not the issue?

Are you use ergs/peddler, or flanflanagan/peddler?

[2018-03-09 19:44] scopatz commented on #1465
I was using ergs, rather than your fork.  I'll switch.  Also, that is a new error :)

[2018-03-09 19:48] scopatz commented on #1465
great, thanks!

[2018-03-09 19:56] scopatz commented on #1463
@bam241 can you provide a minimal input file that produces the issue that you are seeing?

[2018-03-13 19:02] #1465 closed

[2018-03-19 15:24] gwenchee opened #1468 "Archetype tutorial issues"
In the process of attempting the Cyclus archetype tutorial, two problems with the stubs generated from the Cycstub CLI have been found. In this issue, each problem is listed. @gyutaepark and I will work on fixing them.

1) There is an error that occurs when trying to ``` python install.py ``` . This can be fixed by changing the Cmake file so that it will find Cyclus libraries.

2) An error occurs

[2018-03-19 17:19] scopatz commented on #1468
Thanks for reporting!

[2018-03-21 16:51] gwenchee opened #1469 "Making Cyclus compatible with Cyder"
I am currently trying to connect cyder with the current version of Cyclus. One of the issues i'm realizing is that there are functions that are used in Cyder that no longer exist in Cyclus such as: Event.h , EventBackend.h , EventManager.h etc. What i have done is that i found these functions in a 2013 forked repository of Cyclus (https://github.com/Sjenitzer/cyclus) and have been reinstating them

[2018-03-21 17:22] gyutaepark commented on #1468
Sorry for the delay and Thanks Gwen for making the issue.
I'll make a PR for this issue today.

[2018-03-21 17:47] gwenchee commented on #1469
Thanks @scopatz , I will try that instead.

[2018-03-21 19:37] gwenchee commented on #1469
What would the current api be for IsoVector? I am looking through the git logs, but I can't find any reference to what it might have been changed or incorporated with.

[2018-03-21 19:41] scopatz commented on #1469
I think IsoVector was renamed to CompMap.  It is basically a `map<int, double>`

[2018-03-21 19:44] gwenchee commented on #1469
I was under the impression that the CompMap function was renamed comp_math? Because there is no longer a CompMap function in the src folder

[2018-03-21 19:47] scopatz commented on #1469
CompMap is a container for mapping nuclides to mass or atom fractions, like what I recall IsoVector was.  CompMap, like IsoVector, is just a typedef (and not a function), see line 17 of composition.h.   comp_math provides some floating point precision maximizing routines for compositions and performs operations on top on CompMaps

[2018-03-21 20:55] gwenchee commented on #1469
Ah i see. IsoVector was a typedef declared with the IsoVector.h and IsoVector.cc file. Since the files do not exist anymore, would this be the right way to correct the issue?

1) include composition.h in the header file that included IsoVector.h
2) Use CompMap each time in place of IsoVector

[2018-03-21 21:15] scopatz commented on #1469
Yep! That's right

[2018-03-27 15:28] gwenchee commented on #1429
Best way to install Cyclus on mac is using conda forge. ``` cyclus_unit_tests ``` will pass when the method is used.

[2018-03-27 15:28] #1429 closed

[2018-03-27 15:37] #1469 closed

[2018-04-03 22:04] gyutaepark opened #1471 "Cyclus installed using prefix fails unit test"
Ubuntu 16.04 LTS
Python 3 with Anaconda3 (cyclus_build_deps installed)
Cyclus when installed with the prefix option fails 1 unit test:
[code]

This error does not occur when installing without the --prefix option.

[2018-04-03 22:06] scopatz commented on #1471
Are you running from within the tests directory?

[2018-04-03 22:10] gyutaepark commented on #1471
No, I ran it at $HOME.

[2018-04-03 22:11] gyutaepark commented on #1468
#1470 has been merged. I believe the issue is now fixed.
This issue will be closed.

[2018-04-03 22:11] #1468 closed

[2018-04-03 22:37] scopatz commented on #1471
Probably should.  Whatever is going on is probably (strictly speaking) outside of the intended behaviour.

[2018-04-03 22:39] gyutaepark commented on #1471
Understood. I'll test it on the tests directory and close the issue!

[2018-04-03 22:40] gyutaepark commented on #1471
I've just run the test again and it seems running it in the cyclus/tests folder still causes this issue.

[2018-04-03 22:45] scopatz commented on #1471
maybe that is because of how you installed.  Can you do a clean build without the prefix option and then run the tests, please?

[2018-04-03 22:48] gyutaepark commented on #1471
I'm fairly certain that I've done clean builds when reinstalling between
prefixes.

I will test it once again but it mat take a while until I am back home.

On Tue, Apr 3, 2018 at 17:45 Anthony Scopatz <notifications@github.com>
wrote:

--
Gyu Tae Park (gpark29) University of Illinois Urbana-Champagne Department
of Nuclear Plasma Radiological Engineering

[2018-04-04 02:17] gyutaepark commented on #1471
I'm currently rebuilding and will update the status once completed.

[2018-04-04 04:06] gyutaepark commented on #1471
I've tried installing without the prefix (using clean build)
I've removed the previous install by both using `python install.py --uninstall` and then removing the install folder specified using prefix.
I've then reinstalled cyclus and cycamore with the --clean-build option.
The same test did not fail upon calling cyclus_unit_test.

[2018-04-04 05:59] chiudaniels opened #1472 "Cyclus unit test error - SymbolicFunctionTests"
When I tried installing a clean build of cyclus onto my system through conda-forge, the unit test gives this error:
[code]
And when I scroll up, this is the section that relates to that failed test.

[code]

My system is running Ubuntu 17.10
and Python 2.7.11 :: Anaconda custom (64-bit)
with the Cyclus dependencies installed.

[2018-04-04 16:14] scopatz commented on #1471
So is this OK to close?

[2018-04-04 16:56] gyutaepark commented on #1471
Unfortunately, no.
The test fails even when it is run inside the tests directory (when installed using the prefix option).

[2018-04-04 17:10] scopatz commented on #1472
Hi @chiudaniels - I think that there is something wrong with your system / setup.  I have just used two clean docker containers on anaconda 2 and 3 and the conda-forge `cyclus-build-deps` package, and `cyclus_unit_tests` has all tests passing on the first try after a clean build.

Can you please provide more information about the nature of the error? Are there any other error messages? Can you use

[2018-04-04 17:11] scopatz commented on #1471
see https://github.com/cyclus/cyclus/issues/1472#issuecomment-378675174

[2018-04-04 17:31] gyutaepark commented on #1471
Thank you. I'll reinstall cyclus build deps and do a clean build. Then I'll
update the status of this issue

On Wed, Apr 4, 2018 at 12:11 Anthony Scopatz <notifications@github.com>
wrote:

--
Gyu Tae Park (gpark29) University of Illinois Urbana-Champagne Department
of Nuclear Plasma Radiological Engineering

[2018-04-04 20:42] chiudaniels commented on #1472
In regards to previous information, I simply installed python then conda. I then used the commands

and then subsequently ran the command cyclus_unit_tests.

As for additional information on the errors, here is a snippet of the test results:

  Actual: 12.196625881901294
Expected: exp_value(x)
Which is: 7.1966258819012943
/feedstock_root/build_artefacts/cyclus_1511098999257/work/cyclus-1.5.1/tests

[2018-04-04 20:46] chiudaniels commented on #1472
I tried reinstalling the dependencies by using
`conda uninstall cyclus-build-deps`
then reinstalling using
`conda install cyclus-build-deps`

and running the unit tests now gives the error:

cyclus_unit_tests: /home/daniel/anaconda2/bin/../lib/libstdc++.so.6: version `CXXABI_1.3.9' not found (required by /home/daniel/anaconda2/bin/../lib/libicui18n.so.58)
cyclus_unit_tests: /home/daniel/anaconda2/

[2018-04-04 21:24] scopatz commented on #1472
You need to reinstall cyclus after you change the deps, so that the libraries are relinked

[2018-04-05 15:08] scopatz commented on #1472
Wait, were you both building cyclus manually and installing cyclus / cycamore via conda?

[2018-04-05 18:05] chiudaniels commented on #1472
Ah sorry that was poorly worded on my part.
I was simply trying to reinstall cyclus / cycamore via conda.
To better phrase the question, is there a better way to reinstall cyclus and if not is there a work around to the problem above.

[2018-04-05 18:08] scopatz commented on #1472
I really have no idea what your system looks like nor what you are trying to do at this point.  I am sorry I am so confused :frowning_face: Are you trying to compile cyclus  to develop cyclus itself? Or are you just trying to use cyclus to run simulations?

[2018-04-05 18:42] scopatz commented on #1472
Are you on a 32-bit or 64-bit machine?

[2018-04-05 18:54] scopatz commented on #1472
Ok, well that is good at least :)

[2018-04-09 04:26] chiudaniels opened #1473 "version 'CXXABI_1.3.X' not found error"
-------------------- Creating issue to post solution ------------------------------

When trying to run cyclus_unit_test after an installation of Cyclus the error occurs:

cyclus_unit_tests: /home/daniel/anaconda2/bin/../lib/libstdc++.so.6: version `CXXABI_1.3.9' not found (required by /home/daniel/anaconda2/bin/../lib/libicui18n.so.58)
cyclus_unit_tests: /home/daniel/anaconda2/bin/../lib/libstdc+

[2018-04-09 04:35] chiudaniels commented on #1473
**Solution**

find the anaconda/lib folder and in it find the file libstdc++.so.6.0.24
`cd ~/anaconda2/lib`
`ls libstdc++.so.6.0.24`
find the symlink file libstdc++.so.6 in the lib folder
`ls libstdc++.so.6`
remove the symlink file libstdc++.so.6
`rm ~/anaconda3/lib/libstdc++.so.6`
then relink it to the newer version libstdc++.so.6.0.24
`ln -s libstdc++.so.6.0.24 libstdc++.so.6`

[2018-04-09 04:35] #1473 closed

[2018-04-10 19:19] bam241 opened #1474 "c++17 removals"
I just learn (one of my archetypes was using explicit `c++17` flags) that at least:
- `std::bind1st()`
- `std::mem_fun()`

have been removed since `c++17`, see [`bin1st`](http://en.cppreference.com/w/cpp/utility/functional/binder12) and [`mem_fun`](http://en.cppreference.com/w/cpp/utility/functional/mem_fun)
(they were already deprecated since `c++11`)

they should be apparently replaced by:
`std:

[2018-04-11 16:14] gyutaepark commented on #1471
Apology for the delays.
I have retested it using the latest cyclus_build_deps.
Unfortunately, the issue persists.
[code]
Shows up when I install cyclus with a prefix and run the unit test in the tests directory.

[2018-04-12 15:47] bam241 commented on #1474
@scopatz yes that's right, but I thought it could be nice to have that noted somewhere :)

[2018-04-16 18:18] gyutaepark commented on #1471
Sorry for the delay. I was caught up with homework after the ANS student conference.
I am currently getting the both of the things you've requested @scopatz .
Unfortunately, the script might need to be checked and edited for use. I'll try my best to avoid this.

[2018-04-16 19:10] gyutaepark commented on #1471
This is the script that would replicate the issue. I've ran and confirmed that this reproduces the error on two of my machines.
[prefix_test.txt](https://github.com/cyclus/cyclus/files/1916846/prefix_test.txt)

This is the result of cyclus_unit_test.
[unit_test_results.txt](https://github.com/cyclus/cyclus/files/1916847/unit_test_results.txt)

[2018-04-16 23:58] scopatz commented on #1471
Hi @gyutaepark - these aren't enough to fullhy reproduce the build from a clean OS.  Can you add however you installed the compilers and cyclus's dependencies please? Thanks!

[2018-04-17 00:14] gyutaepark commented on #1471
Yup!The setup script is available at:
Github.com:gyutaepark/setmyenv

On Mon, Apr 16, 2018 at 18:58 Anthony Scopatz <notifications@github.com>
wrote:

--
Gyu Tae Park (gpark29) University of Illinois Urbana-Champagne Department
of Nuclear Plasma Radiological Engineering

[2018-04-20 05:27] gyutaepark commented on #1471
I've attempted to debug the issue. However, while I have figured out which function fails, I have yet to find a solution for it.

The test that fails is:
InfileConverters PyXmlRoundTrip (located in `tests/toolkit`)

The function call within the test that fails is:
`toolkit::XmlToPy`, which eventually calls `CyclusJsonToPy` (in `src/pyinfile.cc`).

The `CyclusJsonToPy` function returns a blank stri

[2018-04-20 14:38] gyutaepark commented on #1471
One thing that I have found is the error does not occur if any cyclus
install is located in .local

On Fri, Apr 20, 2018 at 09:20 Anthony Scopatz <notifications@github.com>
wrote:

--
Gyu Tae Park (gpark29) University of Illinois Urbana-Champagne Department
of Nuclear Plasma Radiological Engineering

[2018-04-20 14:41] scopatz commented on #1471
This indicates to me that your linkages are messed up somehow, but I would need to be on your system to debug it myself, I think

[2018-04-20 14:45] gyutaepark commented on #1471
Hmm if that is the case, then it might be how I setup my environment.

If it is okay, could you tell me how you've setup your python environment
please?

I could try that to see if it resolves the issue.

On Fri, Apr 20, 2018 at 09:41 Anthony Scopatz <notifications@github.com>
wrote:

--
Gyu Tae Park (gpark29) University of Illinois Urbana-Champagne Department
of Nuclear Plasma Radiological Engine

[2018-04-20 14:47] scopatz commented on #1471
I use conda with the conda-forge channel, and then install into `.local/`

[2018-04-20 14:48] scopatz commented on #1471
Wait, are you on windows?!

[2018-04-20 14:55] gyutaepark commented on #1471
Thank you for the prompt replies. My python environment is set with conda
forge as well. The only difference I believe is the use of prefix during
installation.

I will test this on another machine just to confirm and update the issue.

On Fri, Apr 20, 2018 at 09:47 Anthony Scopatz <notifications@github.com>
wrote:

--
Gyu Tae Park (gpark29) University of Illinois Urbana-Champagne Department
of Nu

[2018-04-20 14:59] gyutaepark commented on #1471
Two of my three work environments are set up in Ubuntu under Windows. This
is not a virtual machine but instead  one of the new features of Windows 10
(https://docs.microsoft.com/en-us/windows/wsl/about)

I have not had any issues with libraries or cyclus installations upto now.
However, I will make sure this is the case with this issue by checking it
with a native Ubuntu machine.

On Fri, Apr 20,

[2018-04-20 15:02] scopatz commented on #1471
That is insane!  I am surprised you got it working at all ever.  Conda is very path-dependent, so it is possible that your linking is messed up.  When you install outside of .local, is libpython.so, libxml.so, etc on your LD_LIBRARY_PATH?

[2018-04-20 15:06] gyutaepark commented on #1471
I have not thought of that before.
Unfortunately no. I only have my PATH pointing to the install folder.
I will try adding an LD_LIBRARY_PATH right now to see if that resovles the issue!

[2018-04-20 15:38] gyutaepark commented on #1471
I've added an LD_LIBRARY_PATH as the following:
`export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$HOME/anaconda3/lib:$HOME/cyclus/install/lib"`

Then did a clean build of cyclus. However, the issue still persists.
I will have to confirm if this is a Bash on Windows issue later today at the office.
I will keep this issue updated!

[2018-04-20 19:16] gyutaepark commented on #1471
I have just confirmed that this issue is not related to the use of Bash on Windows.
My Ubuntu machine fails the same test as my other two machines.

@scopatz when you installed cyclus with `--prefix` for testing, did you do it on a clean machine with the set-up script that I have shared? (More importantly, was there cyclus installed in .local?)

[2018-04-20 19:27] gyutaepark commented on #1456
@bam241 Hi,
Should cycstub options/ flags appear on `cyclus --help`?

Cycstub is present as a separate executable from Cyclus and as far as I know,
creating a directory with the basis to build archetypes is performed with the command:
`cycstub --type {facility, inst, region} [path]:[library-name]:[archetypename]`

This does show up upon calling `cycstub -h`.

[2018-04-20 19:39] scopatz commented on #1471
I don't recall sorry

[2018-04-20 19:41] bam241 commented on #1456
@gyutaepark you're right... I was somehow confused....
anyway we need to document it on the website...

[2018-04-20 19:41] #1456 closed

[2018-05-16 18:43] jbae11 opened #1475 "Archetype Development Tutorial - Python is missing material trading section"
In the python archetype development tutorial, the section about material trading is missing.

In my experience, writing `get_material_bids`, `get_material_trades` and so on are not quite intuitive when developing an archetype in python.

This issue can be closed when there is an addition to the documentation on archetype development in python with regards to material trading

[2018-05-17 18:00] scopatz commented on #1475
Thanks for bringing this up.  First, this should be opened on the docs repo and closed here, probably :) Secondly, all of the Python guides for the DRE are available on the [DRE page](http://fuelcycle.org/arche/dre.html).  The C++ and Python Tutorial pages should be effectively the same, just with different language implementations.  I agree that the tutorials could be improved in this regard.

[2018-05-18 23:28] jbae11 commented on #1475
That definitely did! Solved my issue. But it would be helpful if the Python develop still referenced to the DRE page. I will close this issue and make another one regarding this on the cyclus docs repo! Thanks @scopatz

[2018-05-18 23:28] #1475 closed

[2018-06-14 16:32] FlanFlanagan opened #1476 "Python Module issue with ts.MapStringVectorDouble"
There is some sort of issue when using this typesystem object in a python module.

error and backtrace

`AttributeError: 'list' object has no attribute 'encode'
Exception ignored in: 'cyclus.typesystem.str_py_to_cpp'
AttributeError: 'list' object has no attribute 'encode'
XPath error : Invalid expression
terminate called after throwing an instance of 'xmlpp::exception'
  what():  Invalid XPath:

T

[2018-06-14 16:35] FlanFlanagan commented on #1476
@scopatz
[test.txt](https://github.com/cyclus/cyclus/files/2103211/test.txt)

github does not support .xml attachments? Anyway. it's also on the branch.

[2018-06-21 17:58] FlanFlanagan commented on #1462
This is fixed in #1466 , but is not in the conda release of cyclus yet.

[2018-07-09 21:20] KennellyT opened #1478 "Activity's units"
Hey cyclus team,
After running a cyclus simulation I went to see the activity of the SNF. I went through the documentation to find the units in which activity is given and I could not find its units. I know that cyclus bases its decay heat and activity off of pyne so I tried its [documentation](http://pyne.io/pyapi/material.html?highlight=activity#pyne.material.Material.activity) but I was unable

[2018-07-10 06:16] bam241 commented on #1478
Hi Tyler,

From what I see in Pyne http://pyne.io/pyapi/data.html?highlight=decay_const#pyne.data.decay_const <http://pyne.io/pyapi/data.html?highlight=decay_const#pyne.data.decay_const>, and Cymetric source code: https://github.com/cyclus/cymetric/blob/master/cymetric/metrics.py <https://github.com/cyclus/cymetric/blob/master/cymetric/metrics.py>

I believe the activity is provided in decay per s

[2018-07-10 18:22] KennellyT commented on #1478
Thank you Baptiste @bam241
That resolves my questions.

[2018-07-10 18:22] #1478 closed

[2018-07-20 13:35] jbae11 opened #1479 "MatlBuyPolicy Accepts materials to break buffer capacity limit:"
The Cycamore::Storage archetype uses the MatlBuy /MatlSell Policy to aid users develop archetypes without having to define multiple functions for trading. However, I found out that if you set multiple `in_commods` for a single `buypolicy`, the archetype will accept all commodities with the requested amount equal to the buffer capacity.

A small error-outputting example is below. Here, `storage` sh

[2018-08-13 00:45] jbae11 opened #1481 "build issue in 16.04"
I am having a build issue in Ubuntu 16.04, I simply reinstalled Ubuntu and installed the dependencies.
Does anybody have an idea how to fix this or what is the cause of this error? Any help is appreciated!

[code]

[2018-08-13 14:38] bam241 commented on #1481
Hi @jbae11
I just tried to install "cyclus/master" on a fresh ubuntu 16.04 docker container.
it worked :(
here is the package I installed:
[code]
 I also reinstalled cython and numpy from pip3 (not sure forcing the numpy reinstall was required...)
and forced the system to use python3 by default.
I hope this might help.

BaM

[2018-08-18 05:31] jbae11 commented on #1479
this caused errors in cycamore::storage, causing it to have negative quantity. Further investigation is needed.

[2018-08-18 05:31] #1479 closed

[2018-08-20 14:50] bam241 opened #1482 "Some unit test fail without Python binding."
We have a user reporting that unit test are failing, he did not have `cython` installed on his computer so I guess he is missing the python binding (that are supposed to be optional...)

[code]

If my explanation are true, we need either to have the python binding required, or disable some unit test...

[2018-09-07 20:46] bam241 opened #1483 "toolkit buy mat policy"
I believe I find a bug in the `matl_buy_policy`.
if a facility using the `matl_buy_policy` can accept multiple commodities in some case the facility can get more than what its own capacity allows.
ie:
- `Storage` has a capacity of 10, and can accept commodity `c_src1` and `c_src2`
- `Src1` can produce 10 fo `c_src1`
- `Src2` can produce 10 fo `c_src2`

`Storage` will receive 10 of `c_src1` and 10

[2018-09-07 20:47] bam241 commented on #1483
cc @FlanFlanagan

[2018-09-14 15:45] FlanFlanagan opened #1485 "Large facility numbers causes 'Killed' runs."
We had a bug in d3ploy that result in the deployment of tens of thousands of facilities in a single time step. This resulted in 'Killed' runs.  I don't think this is a crucial issue as the number of facilities considered here is outside the bounds of nuclear fuel cycles.

I'm setting it to 'Won't Fix' for now, but if other fields demonstrate a need for that many facilities we might need to revisit

[2018-09-14 20:18] FlanFlanagan opened #1486 "explicit_inventory_compact switch to on by default."
Consider turning this on by default as opposed to off.

[2018-09-28 19:48] jbae11 opened #1488 "python `record_time_series` clashes with cycamore::Reactor"
Calling `lib.record_time_series('POWER', self, power_cap)` in a python archetype clashes with the cycamore::Reactor ` cyclus::toolkit::RecordTimeSeries<cyclus::toolkit::POWER>(this, power_cap);`, and gives an error that says:
[code]

This stems from the [cyclus/lib.pyx](https://github.com/cyclus/cyclus/blob/master/cyclus/lib.pyx) not recognizing `POWER` as a string, but  a TimeSeriesType.

[2018-09-28 21:10] FlanFlanagan commented on #1488
Can you explain the issue more closely.

Is it trying to create TimeSeriesPOWER for cycamore twice?

[2018-10-11 15:53] jbae11 commented on #1488
Yeah, I think it's more appropriate to have this issue in cyclus/cyclus, since it is more of a cyclus framework problem than a problem in Cycamore.  You can close this issue if you want!

[2018-10-11 16:18] FlanFlanagan commented on #1488
issue moved to cyclus/cyclus

[2018-10-11 16:18] #1488 closed

[2019-01-29 23:00] yarden-livnat opened #1491 "import cyclus in python causes python to seg fault"
1. Installing **cyclus/cycamore** via conda on osx `10.14.3` into a fresh empty environment
`~>cycamore_unit_tests
dyld: Library not loaded: @rpath/libhdf5_cpp.101.dylib
  Referenced from: /Users/yarden/miniconda3/envs/test/bin/cycamore_unit_tests
  Reason: image not found
Abort trap: 6
`
A quick check shows libhdf5_cpp.102.dylib was installed but cycamore is trying to load 101.dylib

2. Forcing v

[2019-02-18 19:18] bam241 opened #1494 "sha1.hpp removed from boost=>1.68"
Boost=>1.68 removed `uid/sha1.hpp` on which we depends.

The boost license probably allows us to use?copy the code, we need...

[2019-02-18 22:22] bam241 opened #1495 "undefined reference with glib=2.58.2"
I am experiencing undefined reference with glib=2.52 on a conda-like container...
[code]

I am trying right now  to compile it with `glib=2.56.2`

[2019-02-18 22:36] bam241 commented on #1495
same with `glib=2.56.2`

trying with `glib=2.55.0`

[2019-02-18 23:56] bam241 commented on #1495
I am not sure the problem actually comes form glib....

[2019-02-20 18:21] bam241 commented on #1495
not sure this is true... closing

[2019-02-20 18:21] #1495 closed

[2019-02-20 18:21] bam241 commented on #1494
fix proposed  in #1496

[2019-02-21 21:23] bam241 opened #1497 "Fix conda recipes"
Conda recipe have been broken since conda-forge update in December 2018.

To be done:
- [x] update cyclus to be compatible with the latest library/compiler (to allow working with conda)
- [ ] minor version release
- [ ] update cyclus-build-deps recipe on `conda-forge`
- [ ] update cyclus recipe on `conda-forge`

[2019-02-21 22:32] bam241 commented on #1497
To be done:
- [ ] update cyclus to be compatible with the latest library/compiler (to allow working with conda)
- [ ] minor version release
- [ ] update cyclus-build-deps recipe on `conda-forge`
- [ ] update cyclus recipe on `conda-forge`

[2019-02-21 22:34] bam241 commented on #1497
a PR ( #1496 ) is available with the change on cyclus to allow compatibility with `boost` >1.67 and the use of `$CPP` system variable in place of only using the `cpp` binary

[2019-02-21 22:47] bam241 opened #1498 "Add non mass related metrics:"
Those metrics could be added in a similar fashion to the geographic coordinates.
The E&S mentions the following:
- [ ] land use
- [ ] Water use
- [ ] CO2 emission
- [ ] radiological exposure ?

this metrics could be affected:
- [ ] at deployment/decommission
- [ ] per throughput
- [ ] fix per timestep
- [ ] any combinaison of the former

[2019-02-21 22:49] bam241 opened #1499 "Add unit to the existing table"
The following table are missing units:
- [ ]  the TimeSerie<Table>
- [ ] the inventory table

[2019-02-21 22:50] bam241 commented on #1499
this is being address by #1492

[2019-02-22 20:42] bam241 commented on #1491
I think this is conda-related issue and should be fix when #1497 get fixed

[2019-02-22 20:43] bam241 commented on #1497
this is quite important as our docker image generation are based on `conda`
Our cyclus/cyclus:latest docker container has not been updated since the conda-forge update...

[2019-03-11 04:34] gwenchee opened #1500 "Map structure in python does not work"
The map structure for python archetypes does not work. Details on the errors is provided here: https://github.com/arfc/d3ploy/issues/33. PR

[2019-03-11 04:36] gwenchee commented on #1500
https://github.com/cyclus/cyclus/pull/1501 introduces a workaround to make a single level map structure work. However, multi-level map structures still don't work. And map structures that have vectors within them also do not work.

[2019-04-16 19:49] bam241 opened #1504 "Docker container failing"
our docker container pull the debian::jessie image.

the CI is failing because:
[code]

[2019-04-17 19:37] bam241 opened #1506 "nosetests segfaulting"
`nosetestss are segfaulting on all the different machine I have tried (mac, docker container ubuntu+conda, docker full conda, docker debian+conda and apparently on @FlanFlanagan laptop as well) ... (even master version from 6months ago...) (I even try the cyclus/cyclus docker container that was update last 6month  oag...)

the issue comes form the `class AgentAnnotations(Action):` l24 of `cyclus/m

[2019-05-15 16:48] bam241 opened #1508 "?Missing? doc to add a new type"
to add a new supported type in Cyclus, needs to be done:
- add you type in the `DbTypes` enum list in src/query_backend.h
   - each variation length type (used in you custom type) need to be both as `TYPE` and `VL_TYPE`
     - each line need a comment formatted as follow:
        ` // {"c++ type (with namespacing etc...)", NB_OF_VL_TYPE, ["HDF5","SQLite"],["CYCLUS TYPE DEFINITION"],true/false]`

[2019-05-15 16:49] bam241 commented on #1508
(Note this might not be complete, feel free to add anything I might have missed

[2019-05-31 04:16] bam241 opened #1512 "Nose test segfaulting with chthonic > 0.26"
From my test nose test are segfaulting when using cython version higher than 0.26 ( seems to be true on MacOS and Debian+Fonda dependencies)

[2019-05-31 04:18] bam241 commented on #1506
Should be fixed by #1505
Caused by cython version > 0.26 (see #1512 )

[2019-05-31 04:19] bam241 commented on #1504
Should be fixed by #1505

[2019-05-31 16:09] katyhuff commented on #1512
This issue can be closed when the source of those segfaults is found and handled for cythons that are outside of the range:  0.25 > version > 0.27

[2019-05-31 16:11] #1504 closed

[2019-05-31 22:14] gwenchee commented on #1508
An example of the addition of a new type can be seen in https://github.com/cyclus/cyclus/pull/1490

[2019-06-04 15:14] morawi commented on #1473
That did not help at all, 1) running apt-get update to update all the package lists, followed by apt-get upgrade to update all the installed software to the latest versions and 2) running pip install opencv-contrib-python solved the problem.

[2019-06-04 15:20] bam241 commented on #1473
thx for letting us know !

[2019-06-28 18:35] katyhuff opened #1515 "Add more ubuntu versions to CI"
This issue can be closed when we cover more ubuntu versions on CircleCI.
Probably just:

- 18.04
- 16.04

[2019-06-28 18:41] gtw2 opened #1516 "Remove the Conda-Recipe foldr"
Result from TwoFCS19 Cyclus workshop - it may be the case that the docker directory contains this information now and this folder is now deprecated.

This issue can be closed when the conda-recipe folder is removed.

[2019-06-28 19:04] bam241 opened #1517 "Add test to check new file associated to new PRs"
Adding CI-test to verify that a new news file has been created

[2019-06-28 19:07] gtw2 opened #1518 "Update PR Template"
The PR template should be updated to include mention of the rst file required for new news feeds.

[2019-06-28 20:04] gonuke opened #1519 "Implement PostgreSQL backend"
We currently support an SQLite backend for writing to a file representation of an SQL database.

This issue adds a new SQL backend that will write to a remote PostgreSQL DB (or some other remote implementation if justified)

[2019-06-28 20:09] gtw2 opened #1520 "Use wheels to put cyclus in the cheese shop"

[2019-06-29 03:00] katyhuff commented on #1518
I don't think a PR template exists in the repository. This issue can be closed with a PR that adds as https://help.github.com/en/articles/creating-a-pull-request-template-for-your-repository .

[2019-07-02 18:59] kipk49 opened #1524 "Nonfunctional (sort of?) Cyclus Installation"
![Cyclus_Error](https://user-images.githubusercontent.com/50880873/60540047-d1004880-9cd3-11e9-974c-23ab728621c6.png)
Installed Cyclus on a fresh Ubuntu machine (previous installation failed, had to reinstall Ubuntu and start from scratch).

Utilized Greg's build script to install dependencies, found at https://github.com/gtw2/setmyenv
Used apt instead of conda; using conda on the first attempted

[2019-07-02 19:01] bam241 commented on #1524
could you tell us which ubuntu version you are using ?

[2019-07-02 19:02] kipk49 commented on #1524
16.04 LTS

[2019-07-02 19:18] bam241 commented on #1524
I am currently testing a build on a fresh ubuntu 16.04 to see if I can reproduce your problem...

could tell me which of the example you were trying to run ?

note : usually prefer the will log (as a text) to a screenshot :) there is more information in it.
you can upload them on [gist](https://gist.github.com) and get us a link :)

[2019-07-02 19:26] kipk49 commented on #1524
Attempted to run test4.xml and test4B.xml, both cause the same error. It does not crash on Roberto's computer (also on 16.04).

Attached is .txt file with the entire error message.
[Error_Message.txt](https://github.com/cyclus/cyclus/files/3351992/Error_Message.txt)

[2019-07-02 19:56] bam241 commented on #1524
on the ubuntu 16.04 I did (one of the problem you might be encountering is that u-16.04 have python2 by default...):
- `apt-get install -y cmake make libboost-all-dev libxml2-dev libxml++2.6-dev libsqlite3-dev libhdf5-serial-dev libbz2-dev coinor-libcbc-dev coinor-libcoinutils-dev coinor-libosi-dev coinor-libclp-dev coinor-libcgl-dev libblas-dev liblapack-dev g++ libgoogle-perftools-dev python3-de

[2019-07-02 23:42] bam241 opened #1525 "Unit test failing: "InfileConverters.PyXmlRoundTrip""
Just something I noticed...
[code]

[2019-07-02 23:49] bam241 commented on #1524
same issue with 16.04 and 18.04....

[2019-07-03 15:53] kipk49 commented on #1524
Tried with a fresh install, and the same commands you used... Separations seems to be the problem

[2019-07-03 16:02] bam241 commented on #1524
do you know which part of the separations ?

[2019-07-03 16:08] kipk49 commented on #1524
Afraid not

[2019-07-03 17:45] gtw2 commented on #1524
I've replicated this bug on a new user account as well, it seems that the Separations facility gets a "double free or corruption" error on line 137/138
`      streambufs[name].Push(
          mat->ExtractComp(qty * maxfrac, m->comp()));`

Not sure why this is happening, as I've been using separations for a long time without running into this

[2019-07-03 17:57] robfairh commented on #1524
I reinstalled in a fresh ubuntu (16.04 LTS) cyclus and cycamore, first using their master branches and then with older versions that I've forked to my github and we still get the same error.

[error.txt](https://github.com/cyclus/cyclus/files/3356262/error.txt)

[2019-07-10 18:22] kipk49 commented on #1524
After much trial and error:

The APT set of dependencies in Greg's script allow Cyclus to install correctly (provided that you remove Predator and Prey, as well as their corresponding mentions in the CMake file), but this verison of Cyclus throws the error when dealing with the Separations archetype.

The Conda set of dependencies harnessed by the script (cyclus-build-deps) causes install.py to fa

[2019-07-10 20:52] bam241 commented on #1524
I am about the update the Conda recipes. It should be working after :)

In the mean time here a list of Conda packages (with proper version) that should be working
conda install -y openssh gxx_linux-64 gcc_linux-64 cmake make docker-pycreds git xo python-json-logger \
python=3.6 glibmm glib=2.56 libxml2 libxmlpp libblas \
libcblas liblapack pkg-config coincbc=2.9 boost-cpp hdf5 \
sqlite pcre gette

[2019-07-10 20:53] robfairh commented on #1524
Hopefully that works! We'll try it tomorrow!

[2019-07-11 18:23] kipk49 commented on #1524
Close, but no cigar. Starting with clean install of Ubuntu, I used Greg's script to install Conda (no dependencies) and then did
`conda install -y openssh gxx_linux-64 gcc_linux-64 cmake make docker-pycreds git xo python-json-logger python=3.6 glibmm glib=2.56 libxml2 libxmlpp libblas libcblas liblapack pkg-config coincbc=2.9 boost-cpp hdf5 sqlite pcre gettext bzip2 xz setuptools nose pytables pan

[2019-07-12 02:21] bam241 commented on #1524
could you get a clean conda, do not use any script and just use the conda line ?

it should be working :)

[2019-07-13 18:15] robfairh commented on #1524
I did this:
- downloaded conda from the website
https://www.anaconda.com/distribution/#download-section
- bash Anaconda3-2019.03-Linux-x86_64.sh
- echo 'export PATH="~/anaconda/bin:$PATH"' >> ~/.bashrc
- source .bashrc

- conda install -y openssh
- conda install -y gxx_linux-64 gcc_linux-64
- conda install -y cmake make docker-pycreds git xo
- conda install -y python-json-logger python=3.6
- conda

[2019-07-13 22:38] bam241 commented on #1524
thx for the attempt.
But... because you did not run a single Conda line, the later Conda install might have overwritten some of the previous package.

would you mind trying the same, but with everything in a single Conda install line ?

[2019-07-15 14:37] robfairh commented on #1524
I did that and this is the result:

(base) kip@kip-arfc:~$ conda install -y openssh gxx_linux-64 gcc_linux-64 cmake make docker-pycreds git xo python-json-logger python=3.6 glibmm glib=2.56 libxml2 libxmlpp libblas libcblas liblapack pkg-config coincbc=2.9 boost-cpp hdf5 sqlite pcre gettext bzip2 xz setuptools nose pytables pandas jinja2 cython==0.26 websockets pprintpp
WARNING: The conda.compat m

[2019-07-15 15:11] bam241 commented on #1524
thx for trying...

that's weird....

and could you try to install the reps using `cyclus-build-deps` this should allow you to get the correct dependencies...
btw what system are you using ? ubuntu ? 18.04 ?

[2019-07-15 15:16] robfairh commented on #1524
(base) kip@kip-arfc:~$ conda install -y  cyclus-build-deps
WARNING: The conda.compat module is deprecated and will be removed in a future release.
Collecting package metadata: done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - cyclus-build-deps

Current channels:

  - https://repo.anaconda.com/pkgs/main/linux-64
  - https:/

[2019-07-15 15:16] bam241 commented on #1524
[code]

[2019-07-15 15:40] kipk49 commented on #1524
[BigErrorMessage.txt](https://github.com/cyclus/cyclus/files/3393063/BigErrorMessage.txt)

:(

[2019-07-15 15:57] bam241 commented on #1524
ok I don't know why you got python 3.7 but try:
[code]

[2019-07-15 16:38] kipk49 commented on #1524
Success! I have a working installation. Behold and despair:

- Downloaded Linux installer off of Anaconda website at https://www.anaconda.com/distribution/#download-section

- Moved the shell file to Home directory via GUI
- 'bash Anaconda3-2019.03-Linux-x86_64.sh'
- 'echo 'export PATH="~/anaconda/bin:$PATH"' >> ~/.bashrc'
- 'source .bashrc'
- 'conda config --add channels conda-forge'
- 'conda ins

[2019-07-15 16:45] robfairh commented on #1524
Good job @kipk49 !! Thanks @bam241 for the help!!

[2019-07-15 16:45] #1524 closed

[2019-07-15 16:57] bam241 commented on #1524
I think in some way we need to document this... to fix it in the future...

[2019-08-06 15:53] bam241 opened #1528 "python 3.7"
when attempting to compile `Cyclus` using python 3.7 I got:
[code]

[2019-08-07 02:01] bam241 commented on #1512
after some test, I have nose test working with cython  <= 0.28.5 (did not try 0.27.x versions...)

[2019-09-05 19:51] gwenchee commented on #1524
I just used https://github.com/cyclus/cyclus/issues/1524#issuecomment-511476697 to set up cyclus and cycamore using a fresh ubuntu 16.04 and it works! Kudos to @kipk49

[2019-09-06 19:56] bam241 commented on #1512
CI actually have trouble with Debian:9 and Cython 0.28.5

[2019-10-15 02:08] yarden-livnat opened #1535 "Cython crash - seems to be due to the cmake files"
**The Problem:**
Trying to load cyclus in python causes `Segmentation fault: 11` on OSX 10.14.6

**Things I've tried**

1.  Created a simple cython file  (debug_crash.pyx):
`print('in debug')`
and was able to import it into python without a problem (see below).

2. Copied debug_crash.pyx to cyclus and changed cyclus/__init__.py to only import it
[code]
but I get the same crash (note that '__init__

[2019-10-15 02:48] bam241 commented on #1535
also it seems to appear only when python/cython are installed through `Conda`

(I'll try reproduce this tomorrow on my macport install....)

[2019-10-15 14:01] bam241 commented on #1535
Also @yarden-livnat I was wondering what version of `CMake` are you using ?

[2019-10-15 16:47] yarden-livnat commented on #1535
cmake version 3.15.3
g++: Apple clang version 11.0.0 (clang-1100.0.33.8)

The fact that the one line pyx file works outside of the Cyclus build system but not in it suggests it something with the build system. I have never worked with cmake or cython before so my knowledge is very limited.

[2019-10-29 18:07] #1528 closed

[2019-11-04 17:43] xhochy commented on #1535
[code]

Don't use this but respect the environment variables that come with `conda`. Maybe you need to install them using `conda install compilers`.

[2019-11-04 20:48] bam241 commented on #1535
@xhochy thank you for the suggestion.
I tried it without success.

I also tried to not link against python lib, with solve the problem of the import, but breaks our c++ executable (that needs to be able to make call to the python API...)

[2019-11-05 13:50] mingwandroid commented on #1535
Your C++ executable then needs to link statically to the python library. Any executables that needs to load a compiled Python extension module need to provide the symbols from the static libpython.a.

Note, this is not a peculiarity of conda, no extension module should link to the python core library. Neither statically nor dynamically. The symbols are to be expected to be provided by the executab

[2020-01-10 19:53] jbae11 opened #1538 "Python libraries not showing up on `cyclus - m`"
It seems like the python modules (e.g. d3ploy, cyborg) are not showing up on `cyclus -m`

I am not sure how to fix it, but if anybody has a good idea, do let me know!

[2020-01-18 15:21] jbae11 opened #1542 "Additional parser to accept SON format:"
It would be nice for Cyclus to natively accept SON format (it's like JSON but without the quotemarks and colons and things - https://code.ornl.gov/neams-workbench/wasp/blob/master/waspson/README.md#standard-object-notation-son)

This is in part for the NEAMS Workbench UI integration

[2020-01-18 15:31] gonuke commented on #1542
This would be a great addition from ORNL, since they invented SON.  (I’m not sure it’s really “standard”, and I’ve always been surprised that the workbench didn’t adopt JSON, since it is pretty standard.)

[2020-01-18 15:50] jbae11 commented on #1542
It does have a JSON parser, but it's not included in the input parsing formats... Rob and I had a discussion and we had two possible directions:
1. Add JSON parsing capability to Workbench
2. Add SON format to Cyclus

I thought it'd be nice to add SON to Cyclus because it'll make the input a bit more `plaintext-like`, which was one of the feedbacks from the user surveys. And I'm guessing it won't

[2020-02-04 15:42] bam241 commented on #1497
this should be ok !

closing.

[2020-02-04 15:42] #1497 closed

[2020-02-04 15:42] bam241 commented on #1517
this has been done.
Clonsing

[2020-02-04 15:42] #1517 closed

[2020-02-04 15:43] bam241 commented on #1491
@yarden-livnat could you confirm this has been fixed ?

If so, could you close the issue  ?

[2020-02-04 15:44] bam241 commented on #1494
this has been fixed.
closing!

[2020-02-04 15:44] #1494 closed

[2020-02-04 15:46] bam241 commented on #1506
this has been fixed, with newer version of python cython.

Seems to be working with python3.7 and any version of cython.

Closing for now.

[2020-02-04 15:46] #1506 closed

[2020-02-04 15:47] bam241 commented on #1481
@jbae11 what's the status here ?

[2020-02-07 20:51] bam241 opened #1543 "lib.discover_metadata_in_cyclus_path() segfaulting."
[code]

I seen that on an ubuntu 18.04 with python 3.6.8 cycles 1.5.5

[2020-02-08 22:58] gonuke commented on #1543
Is there any chance this is related to the problems you see on OSX?

[2020-02-08 23:55] bam241 commented on #1543
Possible.
But I don't think so, it does not occur at the same time.

OS X issue occurs when importing Cyclus.

This one is on the `discover_metadata_in_cyclus_path()` call ...

[2020-06-16 17:01] feriwib opened #1545 "Where to start learning for beginner?"
Hello,

I would like to learn cyclus as it will be helpful for my next project. After struggling with the installation for few days, I finally managed to successfully installed both cyclus and cycamore in my computer. However, when I tried to run the cyclus_unit_test it shows that from 507 tests, 506 tests are passed and 1 test failed with error message InfileConvertes.PyXmlRoundTrip.

I'm wonderi

[2020-06-23 16:39] gonuke commented on #1545
Thanks for your interest in Cyclus @feriwib !

Unfortunately, you have found us in a state of struggling to complete a transformation to new tools and tutorial documentation.  It may be easier to put you in direct contact with experienced users who can help you get started.  Consider joining the [cyclus-users mailing list](https://groups.google.com/forum/#!forum/cyclus-users) as a way to find othe

[2020-06-23 17:42] feriwib commented on #1545
Thanks for your reply @gonuke !

Yes, I will join the mailing list and asking my question there.

[2020-12-02 13:51] negatron1 opened #1547 "Cmake and Index Error & Cmake Warning"
Hi everyone, hope doing well!
I try to install Cyclus but ı gave the same error for both ways (cmake and install.py installation).
The error is like below and how can ı fix that? Could you help me, please?

CMake Warning at CMakeLists.txt:391 (MESSAGE):
  Unable to read current core version, falling back to previous version.
  Core version will be set to -1

-- core version ($CYCLUS_CORE_VERSION)

[2020-12-02 21:30] negatron1 opened #1548 "CoinCBC version issue"
Hİ again!
I try to install cyclus onto Ubuntu 20.04 release but I faced new problem CoinCBC issue. I sought to find the source of the problem and ı found that CoinCBC is allowed up to version 2.9 in file whic is under the src//src/OsiCbcSolverInterface.hpp. But ı don't know how to deal with it. Is there anyone to help me? Thanks.

-- Build files have been written to: /home/electron/cyclus/build
[

[2020-12-02 21:59] bam241 commented on #1548
HI, sorry I was not able to reply sooner.

do you know which version of CoinCBC you are using ?

[2020-12-02 22:00] bam241 commented on #1547
hi Have you been able to solve this ?
If so do you recall how ?

(Sorry I was not able to help you sooner was of the network for few days...)

[2020-12-02 22:07] negatron1 commented on #1548
Hi, No ı don't know but ı try to install version 2.9 from git ı took error from the same file when it was compiling.

[2020-12-02 22:10] negatron1 commented on #1547
Not at all.
I try to install into older version of Ubuntu and ı will inform you when ı get a solution or not, thank you.

[2020-12-03 15:53] Astrofoxx opened #1549 "cyclus_unit_tests error!!"
Hi all,

I compiled cyclus but I got error message when try 'cyclus_unit_tests' command. Also cyclus run some inputs successfuly but can't run some inputs and gives 'core dumped' error. Any idea to fix this?

(base) astro@fox:~/Desktop$ cyclus_unit_tests
[==========] Running 515 tests from 110 test cases.
[----------] Global test environment set-up.
HDF5-DIAG: Error detected in HDF5 (1.10.4) threa

[2020-12-04 09:20] Astrofoxx commented on #1549
And that's the compile screen
[compile_flow.txt](https://github.com/cyclus/cyclus/files/5641723/compile_flow.txt)

[2020-12-06 20:05] bam241 opened #1550 "Brew install instruction"
here is some hint on how to have a working brew installation.
This has not be extensively tested, I know for sure it worked at least once...

[code]

[code]

[2021-03-02 11:49] gonuke opened #1553 "Introduce canonical definition of large & small constants"
In various places, we use values such as 1e299 and 1e-299 to represent large or small bounds.

It is probably a good idea to define CYCLUS_LARGE and CYCLUS_EPS (and others?) to be canonical definitions that are available to all archetypes and guarantee some consistency

[2021-03-02 20:11] nuclearkatie commented on #1543
I have this issue now too. Before messing with #1552, I probably hadn't re-installed cyclus since before this issue was opened. Now I get a segfault when using ubuntu 18.04 with python 3.6.9 cyclus 1.5.5 (almost identical to Baptiste)

Running `discover_metadata_in_cyclus_path()` is basically the very first thing that Trailmap does, so this effectively breaks Trailmap as well

[2021-03-02 20:38] nuclearkatie commented on #1543
I just confirmed that the issue does not occur in Cyclus 1.5.4

[2021-03-05 04:08] di212 opened #1555 "https://fuelcycle.org/user/writing_input.rst does not work"

[2021-03-05 04:12] #1555 closed

[2021-03-09 20:54] maxschalz opened #1556 "Linking error when using conda"
Hi all,
I ran into the following issue while installing Cyclus using conda.
I was following the [quick install guide](https://github.com/cyclus/cyclus/#quick-cyclus-installation) and got the following error:
[code]
Also, the `sigc++-2.0` package was not found:
[code]
Apparently, conda installed `sigc++ 3.0`. This can be prevented by explicitly installing `sigcpp-2.0` which fixes the problem
If any

[2021-03-23 21:18] gonuke commented on #1543
I just pulled the cyclus docker image from last week and cycamore docker image from 1 month ago and it had no segfault.  We should figure out what combination is causing the problem.
The docker images are using python 3.7.3 on Debian 9.

[2021-04-26 18:36] gonuke commented on #1512
May also be related to #1543

[2021-05-05 16:38] bam241 opened #1559 "MacOS: Homebrew + libxml2"
CMake seems to have problem to find libxml2 when installed from `homebrew`.

a solution is to set a cmake variable:
`-DCMAKE_PREFIX_PATH` to `/usr/local/opt`

@a-co can you confirm the path I provided is the correct one ?

[2021-06-19 14:29] dermesser commented on #1312
This issue by now (5 years later :) causes compilation to fail; the `isnan` macro is replaced within Boost template code, leading to ugliness. The easiest way out is

[code]

which probably should have been done in the first place... I can file a pull request, if there is interest.

[2021-06-20 18:59] gonuke commented on #1312
Thanks @dermesser - it would be great to have a PR for this.

[2021-06-23 14:34] dermesser opened #1562 "cyclus-build-deps in need of update"
Also relates to #1497.

I have some hard-earned knowledge on building cyclus within an anaconda environment. While initially being led astray by `cyclus-build-deps`, and the outdated INSTALL and DEPENDENCIES files, I have managed to assemble an anaconda environment that enables building cyclus in a reliable manner.

As Anaconda YAML file, the following works (for me), for cyclus 1.5.5; please let

[2021-06-23 14:35] dermesser commented on #1556
This may be alleviated by #1562.

[2021-06-24 12:53] gonuke commented on #1562
Thanks for all the effort to sort this out.  We're always happy to take input like this and update our installation documentation, but I wonder if there are deeper lessons about how we can make the installation more straightforward?  Do you think there are other changes we could make that would render some of this less important/fragile?

Hopefully, we'll soon have some resources to review and upd

[2021-06-24 12:55] gonuke commented on #1556
Perhaps we can have a meeting at some point to discuss all the build/install issues you and @dermesser have encountered and discuss holistic improvements, including #1562 and the suggestions you make above.

[2021-06-24 15:22] dermesser commented on #1562
I have to add a caveat: With these dependencies, cyclus builds and runs, but I've experienced spurious crashes (e.g. in the python library). The docker image works well for me, and I'm still trying other ways to build cyclus directly. About that I'll keep this issue posted though :)

FWIW, I don't seem to be alone. See #1273, from 2016: *After more all-consuming weeks of my life wasted #notbitter,

[2021-06-24 15:35] gonuke commented on #1562
Rant accepted! We have our own rants on similar topics - it is challenging to maintain complex software with a small team.

[2021-06-28 18:39] dermesser commented on #1562
A more humble goal for now would probably be updating the website and repository's documentation about installing Cyclus from source: it makes it seem very easy, but points readers the wrong way, as the shown required dependencies (e.g. at https://fuelcycle.org/user/install_from_git.html) are not present in anaconda anymore.

As so often, wrong information is worse than no information, so just by

[2021-06-29 02:20] gonuke commented on #1562
Would you like to submit a PR to this effect? No pressure, but thought I'd check before seeing who else might be better suited to tackling this.

[2021-06-29 17:55] dermesser commented on #1543
I can reproduce this identically: cyclus works in the `cyclus/cyclus` Docker container, and it works when compiled with [Cython 0.28, but not with Cython 0.29](https://github.com/cyclus/cyclus/issues/1512#issuecomment-518908971). (this comment is mostly for others hitting the same bug)

Alas I'm not at all familiar with cython (yet)...

[2021-06-30 02:49] di212 opened #1564 "For windows users (additional info I found super helpful)"
I had troubles setting up anaconda on Ubuntu on Windows and this GitHub page was very helpful https://gist.github.com/kauffmanes/5e74916617f9993bc3479f401dfec7da and when I had troubles with the python itself https://askubuntu.com/questions/1144446/python-installed-in-ubuntu-but-python-command-not-found